[2018-09-11 21:09] cod3licious opened #1 "cleaning up the parser arguments in schnetpack_qm9.py"
I was wondering, couldn't the call of schnetpack_qm9 be further simplified, at least for the evaluation? Some of the arguments, like `property`, are general arguments, not training arguments, however, if the model was trained for a certain property it makes little sense to evaluate it on another, right?

Then in line 308 and 310, the `train_args` are set to `args` or loaded from the json file crea

[2018-09-14 08:33] #1 closed

[2018-09-18 10:26] Dankomaister opened #5 "Force training"
Was wondering what is the proper way to add forces to the loss function?
Currently I have my loss function defined like this

[code]
which works fine.
However if i try to add forces to the loss function like this

[code]
it stops working. I get a value of the loss function for the first image then the function just returns `nan`. Not sure what the problem is here, is there a better way to include

[2018-09-18 16:03] mgastegger commented on #5
Hi, I tried both versions of the loss functions in the schnetpack_md17.py script and they seem to work fine on CPU and GPU with the models training properly.

Maybe this is an issue with the data.
Which dataset are you using?

Another possibility might be the pytorch version ('0.4.1.post2' on my machine).

[2018-09-18 16:18] Dankomaister commented on #5
We are using our own dataset generated using VASP and saved as an ASE db file
[all_images.zip](https://github.com/atomistic-machine-learning/schnetpack/files/2393614/all_images.zip)
our version of pytorch is 0.5.0a0+a24163a I can try and use another dataset.

[2018-09-18 16:27] mgastegger commented on #5
Hm, I have to check whether this could be a problem with the periodic boundary conditions and forces.

[2018-09-18 16:57] Dankomaister commented on #5
Ok, tested with the md17 dataset and that is working. I will keep testing with our dataset, is schnetpack not built for periodic boundary conditions?

[2018-09-18 17:35] mgastegger commented on #5
Periodic boundary conditions should work, as is the case for energies. This is most likely a problem of the combination of PBC and forces. I'm currently running a few tests.

[2018-09-19 13:29] mgastegger commented on #5
There was a problem with the forces, where the derivative of the square root in the distance computation lead to zero divisions. It should be fixed now. Thank you for the sample data, it was really helpful.

[2018-09-19 14:09] Dankomaister commented on #5
Thank you for fixing the problem so fast!
Will update schnetpack and continue training :)

[2018-09-19 14:09] #5 closed

[2018-09-26 20:07] Dankomaister opened #8 "Using trained model as ASE calculator"
I'm trying to used a trained model as an calculator object in ASE, however i get an error.
[code]
Have been trying with different ASE scripts, geometry optimization, phonon dispersion calculation etc, but getting similar errors. Attached are the files for a geometry optimization of a 6,0 SWCNT with the trained model.

Any tips on how to fix this?

[6,0_opti.zip](https://github.com/atomistic-machin

[2018-09-28 09:36] mgastegger commented on #8
There was a problem with the neighbor masks in the ASE interface when PBCs were used.

We fixed it and the optimization should now run properly.

[2018-10-01 11:53] Stefaanhess opened #10 "Test Layers"
create tests for schnetpack/nn

[2018-10-03 11:52] lauri-codes opened #13 "Accidental letter in schnetpack_matproj.py"
Thank you for providing such a nice package together with the source code. I noticed a very small issue in the script "schnetpack_matproj.py", where on line 210 there is an additional letter "f" on column 18. This prevents the script from running.

[2018-10-03 12:28] pankessel commented on #13
Thanks you very much for reporting this. The pull request above should fix this.

[2018-10-03 13:22] lauri-codes opened #15 "Possible incorrect variable used in schnetpack_matproj.py"
The following part in "schnetpack_matproj.py" near line 257:
[code]
seems to create problems when the split is being specified as two integers in train_args.split instead of a split file in args.split_path. The mp.create_splits()-function will ignore the train_args.split parameters as the split_path-variable will always be a valid string. One way to correct the behaviour could be with:
[code]

[2018-10-04 07:36] ktschuett commented on #15
As far as I see, this should not cause any problems: `mp.create_splits()` does only use the supplied `split_path` if it exists, otherwise it writes the indices of the created split into a new file.

However, this might not be the most transparent way to do this...

[2018-10-04 10:19] lauri-codes commented on #15
Yes you're right, on the first run there is no problem. However, after running the script once, a "splits.npz" file is created automatically. Then if the script is run for a second time in the same folder, the parameters given in the train_args.split are ignored, and the file "splits.npz" is used although it was not specified in args.split_path. This happens only though if you run the script multi

[2018-10-04 11:40] pankessel commented on #15
I am not sure if I follow. The file "splits.npz" contains all indices of the randomly generated split. By no means does it only contain two integers. We need to store these indices before training is finished such that training can be restarted.

[2018-10-04 11:54] lauri-codes commented on #15
Ok, I see. I would then simply overwrite the existing file, and ensure that if the model folder has a "splits.npz" file, it is not loaded by default if not specified in args.split_path.

[2018-10-08 08:48] pankessel commented on #15
Thanks for your reply. I am hesitant to implement this because it could lead to the user accidentally overwriting the spilt files. I would therefore prefer to print a warning if both arguments are specified and the split file already exists. Would that be a solution for you as well? Thanks again for your detailed feedback. This is much appreciated.

[2018-10-08 09:09] lauri-codes commented on #15
Yes, a warning might be even better. That solution would be just fine for me, as long as the split file is not loaded, if not given as argument in args.split_path. Thanks for the quick response!

[2018-10-11 12:43] ktschuett commented on #10
Should be done by #17

[2018-10-11 12:43] #10 closed

[2018-10-29 22:25] caesiumong opened #22 "Issue with materials project test script"
Hi,

I am getting an error when trying to train the network using the included script for training the materials project data. The model seems to train fine when I set `--property` to anything other than `band_gap`, but when I use `band_gap` I am getting some `KeyError`:

[code]

Any help would be greatly appreciated. Thank you.

[2018-10-29 22:34] caesiumong commented on #22
I fixed the issue by modifying these lines
[code]
and
[code]
in `src/schnetpack/datasets/matproj.py`.

[2018-10-30 09:42] ktschuett commented on #22
Thanks for letting us know!

[2018-10-31 15:45] #22 closed

[2018-11-01 10:24] ojaace opened #24 "RMSE logging when training data contains molecules of varying sizes"
I'm unsure whether or not I'm getting representative RMSE logging when training on a data set that contains molecules of varying sizes (from 55 atoms to 190 atoms).

If I'm not mistaken, the following piece of code is run (per batch?) when logging the RMSE of a target:

https://github.com/atomistic-machine-learning/schnetpack/blob/master/src/schnetpack/metrics.py#L68

[code]

https://github.com/at

[2018-11-01 10:44] ktschuett commented on #24
If you are predicting energies, there is no zero-padding involved. However, if you are prediction per-atom properties, you are correct and we need to address this. Is that what you are doing?

I guess the best way to deal with this is to extend the metrics, so one can pass the padding mask.

[2018-11-01 10:55] ojaace commented on #24
My loss function contains both the energy and the per-atom forces, and I am tracking the RMSE of both of these properties.

I stumbled across this when trying to find (and use) the mean of the per-atom forces in my loss function.

[2018-11-01 11:19] ktschuett commented on #24
Ok, than you will have a problem with the force loss. Do you want to fix it? Otherwise, we will have have a look at it as soon as we find some time.

[2018-11-01 11:41] ojaace commented on #24
We've been using ``batch['_atomic_numbers']`` to extract the number of atoms for use in the loss function, so I believe training is working properly. This is more of a logging issue.

I'll wait for a fix, I don't feel confident in my ability to solve the issue myself.

Thanks a lot for the very fast response. :)

[2018-11-06 02:26] chris-m-1978 opened #25 "question about wACSFs"
With the wACSF descriptors, is there still a separate neural network per element in the system as with the ACSFs?

[2018-11-06 10:37] mgastegger commented on #25
Yes, there are still separate elemental NNs used for wACSFs.

[2018-11-06 15:54] #25 closed

[2018-11-16 12:52] ojaace commented on #24
I've been looking at solving this issue. I've made an edit to set ``self.n_entries`` differently if the target is forces. There's probably a much better way to do this, but I believe it works properly.

The line

https://github.com/atomistic-machine-learning/schnetpack/blob/master/src/schnetpack/metrics.py#L112

has been replaced with:

[code]

Let me know if there are any obvious errors!

[2018-11-16 12:54] ktschuett commented on #24
Ok, thanks. I will take a look today how to best fix this.

[2018-11-26 11:12] #24 closed

[2018-12-18 13:36] peder2tm opened #29 "qm9 dataset has no attribute "properties""
qm9 dataset has an attribute called "available_properties", but I think it should be "properties" to be consistent with the rest. The "schnetpack_qm9.py" script also refers to "properties" which currently doesn't exist.

[2018-12-18 13:44] ktschuett commented on #29
Thanks! It should be `avaiblable_properties` in all datasets, in order to distinguish it from the `properties` in the init which determines, which properties should be loaded.

@Stefaanhess Could you fix this?

[2019-01-08 07:31] Sangwon91 opened #31 ""strict" argument in md.load_model()"
https://github.com/atomistic-machine-learning/schnetpack/blob/9caa03c5ca27ab17f02201c4146487c8917521f3/src/schnetpack/md.py#L378

First of all, thank you for the excellent library (nice design patterns, easy-to-use, extendable, and so on...).

I think above line should be
`model.load_state_dict(torch.load(os.path.join(modelpath, 'best_model')), strict=False)`

Otherwise, in my case, `md.load_model

[2019-01-08 18:08] Sangwon91 commented on #31
Thank you for the response.

Actually, it was a simple test.

On `workdir`, I trained `schnet` using the following command
`CUDA_VISIBLE_DEVICES=1,python schnetpack_qm9.py train schnet qm9.db schnet-qm9-100k --split 100000 10000 --cuda`

And I ran simple molecular dynamics simulation using the following code at same directory,
[code]

(CO2s.xyz just an arbitrary xyz file)
Are there any problems?

[2019-01-08 18:42] Stefaanhess commented on #29
#32

[2019-01-09 10:12] mgastegger commented on #31
I tried your example and it seems to work for me.

Another reason for the issue might be that we made a change in the package after you started training and before running the dynamics.

Did you update schnetpack between training the model and the dynamics? And what does the error message say?

[2019-01-09 10:34] stefdoerr opened #33 "Extremely low GPU utilization"
Hi, so I was playing a bit around with training SchNetPack. I noticed that when using `--cuda` on my Titan V it has very very low GPU utilization. It uses around 10GB of GPU memory but is practically 90% of the time at 0% GPU utilization with some very short spikes in between (of around a second) where it seems to compute. I tried it with the QM9 and ANI1 examples. QM9 has slightly better utilizat

[2019-01-09 10:42] stefdoerr commented on #33
Nevermind. I realized I was storing the database on a shared filesystem so loading the data was extremely inefficient. Putting it on my SSD works wonders. Sorry for the false alarm

[2019-01-09 10:42] #33 closed

[2019-01-10 00:59] Sangwon91 commented on #31
I'm not sure about the version issue. But I think I didn't update anything during training and MD run.
In my system, SchNetPack is installed via pip on conda environment.

The error message is
[code]

[2019-01-10 10:21] mgastegger commented on #31
Ah, I see where the problem is. For QM9, the free atom energies are subtracted from the total energies, which leads to an additional weight tensor in the state dict. Since we only intended the MD17 trained models (where atomrefs are not subtracted) to be used with the MD script, this tensor is missing in the generated model leading to the error.

I will check, how I can fix this.

[2019-01-11 06:46] Sangwon91 opened #34 "No inheritance of ASEEnvironmentProvider"
https://github.com/atomistic-machine-learning/schnetpack/blob/9caa03c5ca27ab17f02201c4146487c8917521f3/src/schnetpack/environment.py#L55

There are no functional issues, but I think `ASEEnvironmentProvider` should inherit `BaseEnvironmentProvider` like below.

[code]

And in my opinion, the name of the class should be changed to `AseEnvironmentProvider` because in the other module (e.g., `md`) the

[2019-01-11 18:14] WardLT opened #35 "Bug in Train Embeddings for Elemental References?"
I think the train_embeddings value of `Atomwise` is used incorrectly. When setting the default references in the constructor for `Atomwise`, the value of `freeze` for the embeddings class is equal to `train_embeddings` which means that if `train_embeddings == True` then the embeddings are not trained.

Do I understand that correctly? And, if so, could I fix it by changing it to `freeze=not train_e

[2019-01-14 12:57] ktschuett commented on #35
Oh, you're right, this should be the other way around. Fortunately, it does not really have an impact on performance.

[2019-01-14 13:33] ktschuett commented on #34
Yes, sounds reasonable. I'll have a look.

[2019-01-14 14:38] #15 closed

[2019-01-14 14:40] ktschuett commented on #29
@Stefaanhess Was this fixed by merging #32?

[2019-01-15 12:13] Stefaanhess commented on #29
Yes, I renamed the property attributes for all datasets to 'properties'.

[2019-01-15 12:46] #29 closed

[2019-01-15 12:47] ktschuett commented on #35
Fixed by #37

[2019-01-15 12:47] #35 closed

[2019-01-17 13:32] #34 closed

[2019-01-21 07:31] Sangwon91 commented on #31
Can `nn.Module.register_buffer()` resolve the problem?
The registered buffers are included in `nn.Module.state_dict()`.
(batch normalization uses `nn.Module.register_buffer()` for `moving_mean` and `moving_var`.)

[2019-01-21 09:43] mgastegger commented on #31
Hi, sorry this took so long.

The general problem was that QM9 was never intended to be used for running molecular dynamics, since no forces are present for training. Hence, as I said above, the atomref tensor was missing from the model built in the `md` module. This would be problematic if one were e.g. to use atom reference energies for the MD17 dataset. I now changed the behavior of `load_model

[2019-01-21 09:48] #31 closed

[2019-01-22 09:46] Mirrty opened #43 "Total energy (Uo) reproduction (QM9)"
Good day. I just found your tool and wanted to get acquainted with it by reproducing the results for QM9 data. I set the available parameters according to the values given in the articles [_J.Chem.Phys,148,241722(2018)_ and _Adv.N.Inf.Proc.Sys,30 (2017),pp.992-1002_]. The parameter 'an exponential moving average over weights with decay rate 0.99' I set in schnetpack_qm9.py in Adam optimizer (line

[2019-01-23 14:46] bartolsthoorn opened #44 "Eval mode of all scripts broken by torch.load"
I think recently a change was made to save the model instead of the state as a checkpoint (which I agree is an improvement). Anyway, all scripts are still using `load_state_dict` instead of just `model = torch.load(...)`, so the scripts now give an error when running eval like: `AttributeError: 'DataParallel' object has no attribute 'copy'`.

[2019-01-23 14:59] ktschuett commented on #44
Hm, that's weird. The checkpoints should still be saved as state_dict, and only the final, best model should be stored to be easily reusable in other scripts.

@Stefaanhess Can you check that?

[2019-01-23 15:00] Stefaanhess commented on #44
Yes, I will have a look at it.

[2019-01-23 16:48] #44 closed

[2019-01-25 20:26] Dankomaister opened #47 "Element wise MeanSquaredError"
Hi,

I'm getting an error when i try and run `RootMeanSquaredError('forces','dydx',element_wise=True)` in my training script.

I fixed the problem by changing
`self.n_entries += torch.sum(batch[Structure.atom_mask]) * y.shape[-1]`
in line 135 in metrics.py to
`self.n_entries += torch.sum(batch[Structure.atom_mask]).detach().cpu().data.numpy() * y.shape[-1]`
is this a good solution?

/Daniel

[2019-01-28 15:23] Stefaanhess commented on #47
Hey Daniel,

I added your solution in #48 .

Stefaan

[2019-01-28 15:26] Dankomaister commented on #47
Thx!

/Daniel

[2019-01-28 15:26] #47 closed

[2019-02-07 11:41] ktschuett opened #51 "Increase test coverage to >90%"
Just as a motivational goal...

[2019-02-07 11:46] ktschuett opened #52 "Improve documentation"
- [x] Add missing doc strings
- [x] Write tutorials
- [x] Include into main doc (index.rst)

You can check the results at https://schnetpack.readthedocs.io/en/latest/

[2019-02-26 14:14] MartinEls opened #54 "JCTC paper training example"
Thanks a lot for the great code!

If I tried to run the training example from the paper (Chart 1), I got some errors. If the ´import´ section should stay untouched the following lines should be changed to:
'''
15: loader = spk.data.AtomLoader...
18: val_loader = spk.data.AtomsLoader...
28: trainer = spk.train.Trainer...

[2019-02-28 07:57] ktschuett commented on #54
Thanks, should be fixed now.

[2019-02-28 07:57] #54 closed

[2019-02-28 15:52] MartinEls opened #56 "md.py load_model error"
By trying to load an existing model for md-calculations, I run into this error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python3.6/site-packages/schnetpack/md.py", line 377, in load_model
    model.load_state_dict(torch.load(os.path.join(modelpath, 'best_model')))
  File "/usr/lib/python3.6/site-packages/torch/nn/modules/module.py", line 769, in lo

[2019-03-01 09:51] ktschuett commented on #56
Which version are you using: pip or the git master branch? In the Github version this should not happen, since we're now storing the whole model and not just the weights.

[2019-03-05 13:43] Dekken commented on #52
Can you provide a complete schnet training command based on the git repo and test data please?

[2019-03-05 14:06] Dekken commented on #52
[code]

[2019-03-05 16:09] ktschuett commented on #52
Hi, I updated the tutorial and command-line help. The command has to point to the .db file:
python3 src/scripts/schnetpack_qm9.py train schnet ./qm9.db .  --split 10 10 --cuda

[2019-03-05 17:49] Dekken opened #60 "Division by Zero"
Hey folks,

I'm trying this out with the ROCM version of Pytorch so chances are there's an issue there

[code]

[2019-03-05 18:19] Dekken commented on #60
Testing on nvidia now

[2019-03-05 18:21] ktschuett commented on #60
Can you try with a training set thats larger than batch size, e.g. --split
200 200

On Tue, Mar 5, 2019, 19:19 ♦♣♠♥ <notifications@github.com> wrote:

[2019-03-05 19:35] Dekken commented on #60
seems to be a ROCM problem

[2019-03-06 21:45] lmj1029123 opened #61 "KeyError: '_neighbor_pairs_j'"
Hi, I was trying to run the hdnn model with my own ase database but it is giving me an error.

`-------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-5-4f137f9701fd> in <module>()
     32
     33 # start training
---> 34 trainer.train(torch.device("cpu"))

~\Anaconda3\lib\site-packages\sc

[2019-03-07 10:13] ktschuett commented on #61
HDNN require angles, therfore triples of atoms have to be collected during data loading. You can activate this by using:
`data = AtomsData('./db/Icosahedron-2-large-unique-50-test.db', properties=['energy'], collect_triples=True)`

[2019-03-07 16:04] jhrmnn opened #65 "GDML from the sgdml package"
I talked to @stefanch, and maybe it makes more sense to have the GDML code in the `sgdml` package, and just import it in `schnetpack` and have `sgdml` as a dependency. What do you think about that? If you agree, should I make `sgdml` a hard or an optional "extras" dependency of `schnetpack`?

[2019-03-07 16:44] ktschuett commented on #65
Not a hard dependency, since most people won't use GDML. But what part of
the code of schnetpack would actually be used? You basically wrote a
vanilla pytorch module at this point. So I don't think we need a
requirement at all.

Jan Hermann <notifications@github.com> schrieb am Do., 7. März 2019 um
17:04 Uhr:

[2019-03-07 16:56] jhrmnn commented on #65
Ah, correct, I haven't realized that. Ok, so I'll just move the code to the sgdml package, and revert all the changes to schnetpack. Sorry for the hassle.

[2019-03-07 16:56] #65 closed

[2019-03-07 20:45] lmj1029123 commented on #61
Thanks for the reply. However, I am still getting errors after adding that argument, though it is a different error.

[code]

Also, I am not very sure about
```data = AtomsData('./db/Icosahedron-2-large-unique-50-test.db', properties=['energy'], collect_triples=True)```
What does the properties actually do. The db file is from ase so for each row in the db, I can get the energy by
```energy = row.

[2019-03-07 22:03] ktschuett commented on #61
Yes, it should be in data

On Thu, Mar 7, 2019, 21:45 lmj1029123 <notifications@github.com> wrote:

[2019-03-07 22:14] lmj1029123 commented on #61
I am still getting the same error after adding the energy to data.

[2019-03-11 07:49] #60 closed

[2019-03-11 08:03] ktschuett commented on #61
Ok, I see:
1. We normally store properties binary-encoded in data (which is faster, especially if it is not just a scalar), but have a fallback for key-value-pairs and the default ASE string-encoding, so this did not matter.
2. You have to give the set of elements also to `ElementalAtomwise` since it is creating one output network per atom type:
`output = atm.ElementalAtomwise(reps.n_symfuncs, ele

[2019-03-11 21:21] lmj1029123 commented on #61
Thanks! It is working now.

However, I am wondering how do you do force training with the code. Apparently, there is the "create_graph" argument, so it can predict the force, but I don't know how the model is going to extract the force information from the database and compare it with the predicted forces.

Thank you!

[2019-03-12 08:22] ktschuett commented on #61
You're welcome! With the forces it works pretty much like with the energies: you just have to provide their key in the ase db to the `properties` of `AtomsData` to load them. Of course, you have to change the loss. You can see an example in the MD17 script:
https://github.com/atomistic-machine-learning/schnetpack/blob/master/src/scripts/schnetpack_md17.py

We're currently working on some easier to

[2019-03-14 07:26] #56 closed

[2019-03-18 20:23] lmj1029123 commented on #61
Thanks!

Currently, I am trying to get the training loss as a function of the epoch. I understand that I will need to use the hook. However, I am not exactly sure how I should use it.

[code]

[2019-03-18 20:30] lmj1029123 commented on #61
It does generate the csv file but it gives me the following error:
[code]

[2019-03-19 07:43] ktschuett commented on #61
@Stefaanhess Could you have a look?

[2019-03-19 09:32] Stefaanhess commented on #61
Yes, I will look at it today.

[2019-03-19 11:52] Stefaanhess commented on #61
@lmj1029123 You would need to define your model_output for the metric so it can map the model output to the right target property.
This worked for me:
`metric_E = [MeanSquaredError(target='total_energy', model_output='y')]`

[2019-03-19 12:23] #61 closed

[2019-03-24 20:11] lmj1029123 opened #69 "Evaluation.py _get_predicted(self, device) for clusters with different number of atoms"
Hi,

I am trying to predict the forces of clusters using the best_model. However, it seems that if the clusters are of various size, the _get_predicted function would not work.  The problem is in

[code]

[code]
Thanks!

[2019-03-27 15:12] Stefaanhess commented on #69
Hey @lmj1029123,

the evaluation for datasets with different sized molecules and atomic properties should be ok now.

[2019-03-27 15:12] #69 closed

[2019-03-28 06:16] ivicts opened #77 "Reproducing paper result"
Hi,

Can you let me know what setting of parameters, optimizers, split and seed to reproduce the result of
https://arxiv.org/pdf/1712.06113.pdf?

For homo, I tried:
python3 src/scripts/schnetpack_qm9_new.py train schnet data/seed_2000/homo/data/qm9.db data/seed_2000/homo/model --split 109000 1000 --cuda --property homo --seed 2000 --parallel

I got train/val/test mae as 0.00497/0.04701/0.04877, bu

[2019-03-28 08:12] ktschuett commented on #77
Hi,
you should set "--aggregation_mode avg", since HOMO is an intensive property. Let me know if it doesn't work after that. The split and batch size should not matter that much.

@Stefaanhess We should add an example about this in the docs.

[2019-03-28 08:48] ivicts commented on #77
Hi thanks for the reply, so I need to change  "--aggregation_mode avg" only for HOMO, LUMO and gap is it?

Is there any other configuration that I need to take note to reproduce the result of other properties in QM9?

I also get a better result running the code than the stated result on schnetpack paper for dipole moment. Is this expected?

It would be useful if you can add a table of result for e

[2019-03-28 13:05] ktschuett commented on #77
The results in the [software paper](https://pubs.acs.org/doi/full/10.1021/acs.jctc.8b00908)) should be closest. For the other properties, you should get errors in the same order of magnitude for all practical purposes.

The dipole should indeed be better, since we're using a layer based on latent charges as described in the software paper linked above.

[2019-03-28 15:39] somnambWl opened #78 "Problem with schnetpack_qm9.py"
Hello,

I would like to ask if _schnetpack_qm9.py_ is still working. No matter what I try, I eventually run into `RuntimeError: cublas runtime error : the GPU program failed to execute at /pytorch/aten/src/THC/THCBlas.cu:441`.

I only create a new virtualenv, pip install schnetpack and then I run:
`schnetpack_qm9.py train schnet QM9 TestRun --split 10000 10000 --cuda`

Output is following (when I

[2019-03-28 16:59] lmj1029123 opened #80 "LoggingHook for training data"
Hi,

There is a problem in the LoggingHook for training batch.

[code]
The self.train_loss is never divided by self._counter so when it is logged, it depends on the how many batches the training data is divided into. It is not simply divided by the count, since the batch size might not be a factor of the total size, so I don't know what is the best way to fix it. Could you fix that? Thanks!

[2019-03-28 17:16] ktschuett commented on #78
Hi,
as you already noted, you should use:
`schnetpack_qm9.py train schnet QM9.db TestRun --split 10000 10000 --cuda`
with the current version instead of providing a directory. THis is because, we now store the atomref data from qm9 as metadata in the db file.

Otherwise, the script should work. This looks more like a problem with your GPU or python environment. Does it work without CUDA? Maybe, yo

[2019-03-29 05:04] ivicts commented on #77
Hi,

I want to reproduce the result on all properties. There is some deviation of the result for some of the properties:
The unit is in ev.

| Properties | Schnet paper | Reproduce Result |
|------------|--------------|------------------|
| gap        | 0.063        | 0.06708          |
| HOMO       | 0.041        | 0.04483          |
| LUMO       | 0.034        | 0.03666          |
| R2         |

[2019-03-29 08:32] ktschuett commented on #77
Hi,
regarding R2, this is probably due to unit conversion. We use the standard ASE units, which is eV and Angstrom. The result in the paper is in the original QM9 unit Bohr^2, i.e. 0.21775 Ang^2 -> 0.061 Bohr^2

The other results seem relatively close and might be due to the split. I will check what I get.

[2019-03-29 09:10] ivicts commented on #77
Hi,

I forgot the unit conversion.
How did you do the conversion? I got this from Google:
![image](https://user-images.githubusercontent.com/19903139/55221251-006e6780-5244-11e9-9bd3-eea277bec09e.png)

I used seed = 2000 if you want to reproduce my experiments.

Alpha also seems to be much better than the one stated in the paper, I have converted the unit to Bohr^3:

| Properties | Schnet paper |

[2019-03-29 09:42] ktschuett commented on #77
Oh, sry, you're right, did it the wrong way around. Would have fitted too well.

The dipole moment seems to fit up to the small discrepancy, which will likely have a similar reason as the other properties. I'm guessing learning rate schedule. Experiments are running.

Alpha and R2 might indeed be some unit issue. I would say that the polarizability result is correct, since I remember that I had so

[2019-03-29 09:55] somnambWl commented on #78
Hello,

I have tried it again with the new version installed with _setup.py_. I got a similar error, but I managed to fix it in the end.
Here is the error:

[code]

However, I managed to fix it by reinstalling torch.

[code]

Before, it worked without CUDA and there was not jupyter notebook opened in the background.

Thanks for the help :)

[2019-03-29 09:55] #78 closed

[2019-03-29 10:07] #80 closed

[2019-03-29 17:25] lmj1029123 opened #84 "Force training with angular symmetry functions for clusters with different number of atoms"
Hi,

It seems that the trainer is not working properly when I did force training with angular symmetry functions for clusters with different number of atoms.  (ElementalEnergy)

When I did the training for clusters with same number of atoms, it is OK. By looking at the log, it seems that the losses are going down. However, if I use it for clusters with different number of atoms, the losses become

[2019-03-31 09:15] ktschuett commented on #77
Hi,
so I did some digging in my old results. I am confident now that they are correct and that there is no conversion error. I still had the predicted values stored. The errors in the different splits are:

|Property | split 1 | split 2 | split3 | avg |
|-----------|-----------|---------|---------|------|
| alpha | 0.125 | 0.246 | 0.335 | 0.235 |
| r^2 | 0.076 | 0.073 | 0.069  | 0.073 |

There wer

[2019-04-01 07:23] ivicts commented on #77
Hi, thanks for the update! I will wait until you resolve the issue with alpha and R2.

btw, have you you checked the mu, homo, lumo, gap and U0? May I confirm I reproduce it correctly?

[2019-04-01 12:17] ktschuett commented on #77
We just found a bug in the HardCutoff funtion (PR #86) that got introduced after the software paper. That could be very well the reason for the difference in performance. I'll keep you posted.

[2019-04-01 14:33] mgastegger commented on #84
I found the problem and it should be fixed now.

On a side note, I would also recommend adding a special standardization layer for symmetry functions and one for the energies. For the SF, this would look something like this:
[code]

The scaling for the energy in the output layer can be done via:
[code]

Hope this could fix your issue.

[2019-04-01 14:55] #84 closed

[2019-04-02 19:38] lmj1029123 opened #90 "Storing the symmetry functions calculated"
Hi,

I am wondering whether there is an easy way to store the symmetry functions calculated for the data, so it doesn't need to calculate them for every epoch. It is a very time consuming step for my model. Thanks!

Best,
Mingjie

[2019-04-03 07:59] ktschuett opened #92 "Benchmark results in docs"
As suggested in Issue #77, we should have a table of benchmark results in the docs for our scripts.

It would be great to have a script for that, so we can run it before every release to update the results table. It would take a set of cmd arguments for the scripts, run the models on our cluster and create a file with the table that can directly be parsed by the docs (probably rst).

[2019-04-03 08:29] ktschuett commented on #77
While the models are still running (now with fixed cutoff), I think the results should be telling. I also added the possibility of the choosing a cosine cutoff function to the scripts, since this is what we are now. Here are the validation errors:

| Property | cutoff | cutoff_function (PR #91) | Validation error |
|------------|----------|---------------------------------|-----------------------|

[2019-04-03 08:29] #77 closed

[2019-04-04 11:13] ivicts opened #94 "max() arg is an empty sequence error"
[code]

Hi, if I run the src/scripts/schnetpack_qm9.py it gives me error of  "max() arg is an empty sequence error", I have tried uninstall schnetpack and install again from the source.

[2019-04-04 12:25] FarnazH commented on #94
Remove your modelpath, which I believe is `data/seed_2000/energy_U0_cosine/model` in your case, and then run the script again.

[2019-04-04 12:41] ivicts commented on #94
[code]

the parser says I need the modelpath?

[2019-04-04 12:50] FarnazH commented on #94
If the directory `model` exists, it tries to load a checkpointed model and you get the error. Just delete `model` directory and give it the modelpath you have been using. It should work then, I believe.

[2019-04-04 13:22] #94 closed

[2019-04-04 16:06] Dom1L opened #95 "Scalability of SchNet"
Hi guys,

I was playing around with the package and wanted to know what the limits of SchNet are. So I tried to feed a protein (trypsin, 1700 atoms) into the network using the default settings and ran into some Cuda out of memory errors (TitanV 12GB).
I tried to scale the features, number of interactions blocks etc. down while using a batch size of 1 and still did not get it to work.
So what is yo

[2019-04-04 16:17] ktschuett commented on #95
Hi,
the default SimpleEnvironmentProvider assumes a dense interaction matrix, which will be huge since you have such a large molecule. You should try the AseEnvironmentProvider with an appropriate cutoff:
`
cutoff = 5. # Angstrom
environment_provider = spk.environment.AseEnvironmentProvider(cutoff)
data = AtomsData('3ptb.db', properties=['energy'], environment_provider=environment_provider)
`

[2019-04-04 16:19] #95 closed

[2019-04-09 12:12] Dom1L opened #96 "Dataloader stuck with AseEnvironmentProvider"
Hi guys,

thanks for the suggestions with the AseEnvironmentProvider.
It worked well with my dummy test set of 100 structures, but I discovered that for a larger database size the whole data loading procedure gets stuck. This means when the data is initialized the first time (either during `loader.get_statistics()` or in the trainer function later) it doesn't finish. I also had an issue where it c

[2019-04-10 08:26] mgastegger commented on #90
Sorry for the long wait. The functionality is not implemented yet.

However, what one could do is to iterate over the data once using the initialized BehlerSFBlock and store the computed symmetry functions directly in the db.

I will have a look at it.

[2019-04-10 12:11] Dom1L commented on #96
Hi,

I was able to make this issue occur with an even smaller dataset. I attached an example that contains 100 binding pockets and some dummy energies which in combination with the script above fills up the memory entirely.
[test.zip](https://github.com/atomistic-machine-learning/schnetpack/files/3063590/test.zip)

So to clarify a bit:
* Many atoms + AseEnvironmentProvider -> memory (+ loading) is

[2019-04-10 12:13] Stefaanhess commented on #96
Thanks, for the additional information. I will have a look at it!

[2019-04-12 09:33] Dom1L commented on #96
Hey here some updates,

so after some further investigations I was able to pinpoint the memory issues etc. to some specific matrix operations in the ASE neighbourlist function. So not a memory leak issue with the Dataloader which is good news.
What I then did was to write a new environment provider that utilizes neighbourlist code from the Torchani repository, which made it able to train on batche

[2019-04-12 09:38] ktschuett commented on #96
Ok, so it is a bug in ASE? In their docs they write:
"Atoms outside nonperiodic boundaries are included in the neighbor list but complexity of neighbor list search for those can become n^2."

Could it be that if the cell is not set large enough to contain the molecule, this also causes a memory leak for some reason?

[2019-04-12 09:45] Dom1L commented on #96
Could be... I think that none of my samples have the cell explicitly set which might cause problems in ASE.
Which would also explain why my trypsin example is working because I read it from the pdb directly, the other stuff is preprocessed etc.
I'll check and report later, thanks for the tip!

[2019-04-12 12:30] mgastegger commented on #90
After comparing the GPU training times with stored symmetry functions and the on the fly computation currently implemented, I found the following:

Unfortunately, storing the SFs does not lead to a better performance. Due to the I/O overhead, the algorithm computing them on the fly is significantly faster, even for small molecules. Moreover, even when ignoring the above issue, storing the SFs is o

[2019-04-12 12:30] #90 closed

[2019-04-12 15:36] Dom1L commented on #96
@ktschuett you were right with your suspicion. I preprocessed the molecules with HTMD and then once I convert them into ASE atoms they have a non defined cell and pbc=False. For the trypsin case, I read it directly from the pdb using ASE and all properties were automatically defined. So the reason I could observe the same behaviour for the QM9 data set is that these molecules also don't have defin

[2019-04-12 19:30] ktschuett commented on #96
Yes, if you would like to provide a pull request for this, that would be great!

[2019-04-12 19:30] #96 closed

[2019-04-18 20:40] w6ye opened #98 "Share trained model"
Hi,

I am really interested in the SchNet's performance in crystals. I wonder if you could share the best trained models, especailly the one trained with Materials Project data?

Thanks!

Weike

[2019-04-22 23:05] xiaowei-xie opened #99 "CUDA memory issue during optimization"
I have been training on various size water clusters and trying to optimize a water 256 using the trained model. The training process worked fine, but when I try to optimize, I always get the following CUDA memory error. When I run on CPU, the optimization is pretty slow(5min per step). I would like to ask, is the requirement of this much memory a legitimate thing and what is causing it so memory i

[2019-04-23 07:12] ktschuett commented on #99
@Stefaanhess Memory Leak? Could a decouple be missing in the calculator?

[2019-04-23 07:15] ktschuett commented on #99
@xiaowei-xie Might be a memory leak... How long does it run until the error?  Do you have something like a jupyter notebook running in the background that uses the GPU?

[2019-04-23 07:17] ktschuett commented on #98
We're currently looking to do this in the upcoming release for QM9. We will consider also doing one for MP.

[2019-04-23 15:40] xiaowei-xie commented on #99
@ktschuett Thank you for the reply! I'm pretty sure that's the only thing using the GPU. It gets the error instantly after I run the code. I can run on CPU, but it also uses tons of memory(up to 40% of a work station's memory(128G)).

[2019-04-24 07:34] ktschuett commented on #99
Ah,ok. I think the problem is that you use the default environment provider which assumes full connectivity. You should try:
[code]

[2019-04-24 13:11] #99 closed

[2019-04-24 23:46] xiaowei-xie commented on #99
@ktschuett I changed the environment provider and got rid of the memory error. Thanks! But the optimization using GPU is pretty slow(30 min per step) and the GPU usage is almost 0%. Do you have any idea what the problem might be?

[2019-04-25 08:32] ktschuett commented on #99
No, sorry. Perhaps you can try to use straight-forward gradient descent instead of BFGS? That should at least narrow it down where the time is spent...

[2019-04-29 15:08] lmj1029123 commented on #90
I see. Thanks a lot for the detailed reply.

[2019-05-01 12:09] ktschuett opened #102 "Training restart broken after change in LRReduceOnPlateauHook"
The schedule in the hooked is not initialized when the model is restored, which leads to a crash.

[2019-05-01 13:15] ktschuett commented on #102
Beyond that, the epoch counter is not properly restored and starts at 0 again.

[2019-05-03 14:56] Stefaanhess commented on #102
#103 should be working now

[2019-05-03 14:56] #102 closed

[2019-05-03 18:15] lmj1029123 opened #104 "hdnn.py distances not correct for periodically repeated bulk structure"
Hi,

It seems that the distances calculated in the hdnn.py is not correct.

[code]
If I have a Cu bulk with a single Cu atom repeated in all 3 directions, the distances vector looks like [0, 0, 0,....,0]. I believe it should be [a, a, a, ..... , 2a etc] if a is the lattice constant.  This is probably because the cell_offset is not used in the calculation? Could you have a look at it? Thanks!

[2019-05-06 10:06] machism0 commented on #52
This should also be reflected in the readme, right now it suggests an argument of "datadir" not "datadir.db"

[2019-05-09 05:02] Nazari-Fariba opened #106 "ValueError: invalid filename or file not found"
Hi all,
I have installed schentpack on windows .
python version is 3.7.3
when i run pytest it returns the following error:
 ValueError: invalid filename or file not found "c:\users\fariba\appdata\local\programs\python\python37\lib\site-packages\schnetpack-0.2.1-py3.7.egg\schnetpack\sacred\calculator_ingredients.py"
Any comment is appreciated.

[2019-05-09 10:23] Stefaanhess commented on #106
Hi @Nazari-Fariba,

the installation command from the ReadMe.md had problems with installing some packages.
Try to uninstall schnetpack with 'pip uninstall schnetpack' and reinstall it with 'pip install .' instead of 'python setup.py install'.
#107

[2019-05-09 11:56] #106 closed

[2019-05-18 18:40] lmj1029123 commented on #104
Hi,

Just to let you know that I am still waiting for the solution. Thank you very much.

[2019-05-18 19:01] mgastegger commented on #104
Hi,
sorry for the long wait. I'm currently looking into it. The distances should be easy to fix, the angles proof to be a little trickier.

[2019-05-19 18:12] lmj1029123 commented on #104
Another thing I noticed is that when I use the Behler representation, with radial function only, I get nan for loss for all the time. It doesn't matter how I set the learning rate.
[code]
If you don't notice that problem, it will be great if you could show me the set up for running the code. Thank you very much!

[2019-05-20 19:35] bencomer commented on #104
Thanks for working on this problem @mgastegger -- our group is also very interested in seeing this fixed.

[2019-05-21 14:54] mgastegger commented on #104
Just an update, distances are running properly, at least for energies. I will check the forces next, to see whether they are the source of the NaNs. I'm also working on the angular symmetry functions.

[2019-05-24 14:34] lmj1029123 commented on #104
Hi,

I believe the NaN problem is not in the forces. They were probably from the fingerprints. I wrote radial fingerprint function. While it is kind of slow, it does not give me the NaN problem. Also, I am wondering where I can get the the updated distances. It will be great to have a model where the radial symmetry could work, even if the angular symmetry function is not working yet. Thanks!

[2019-05-24 15:06] mgastegger commented on #104
Thanks for the information.
Unfortunately, I was sidetracked by a few submission deadlines until now.
I will push a version with the distances fixed on Monday.

[2019-05-26 23:21] lmj1029123 commented on #104
Sounds good. Thanks for working on it!

[2019-05-27 14:39] mgastegger commented on #104
Radial SFs should work with PBC now. The angular ones will take more time.

@lmj1029123: Unfortunately, I was not able to reproduce the NaN issue using the materials project data and your script. Does the problem arise immediately, or only after a time? You could also disabling the StandardizeSF layer to see, whether this is the issue.

[2019-05-27 15:19] lmj1029123 commented on #104
The problem arise immediately. However, the NaN issue actually goes away with PBC fix. Thanks!

[2019-05-27 15:21] mgastegger commented on #104
Great to hear, I'll keep you updated on the angular functions.

[2019-05-29 13:34] Nazari-Fariba opened #111 "run qm9"

[2019-05-29 13:35] #111 closed

[2019-06-03 20:57] OMalenfantThuot opened #112 "Error when running schnetpack_qm9.py in wacsf mode"
Hi,
when running the schnetpack_qm9.py script this way:
`schnetpack_qm9.py train wacsf qm9.db model2/ --split 100 100`

I got the output:
[code]
And there is no error when using the schnet mode.

In file src/scripts/script_utils/model.py, the `# build cutoff module` block should be inside the `if args.model == "schnet"` block if it is not used in wacsf.

I corrected it [here](https://github.com/OM

[2019-06-04 11:49] Stefaanhess commented on #112
Hi @OMalenfantThuot,

You are right! I included your solution in #113 .

[2019-06-04 11:49] #112 closed

[2019-06-04 13:48] OMalenfantThuot commented on #112
Thanks!

[2019-06-19 17:27] lmj1029123 commented on #104
Hi,

I think I have a fix for the angular symmetry functions and I made a pull request for it. It seems that it is really expensive as it looks at N_atoms^2 neighbor pairs. I am not sure whether my implementation is compatible with GPU, Also, I am wondering whether there is tutorial of how to use GPU for schnetpack? Thanks!

[2019-06-20 15:55] mgastegger commented on #104
Thank you very much, that was a huge help!
I went through the code and ran a few tests. It works on GPU and CPU and appears to be stable for gradients. The scaling of the angular functions is always a problem. Avoiding this is one of the advantages of SchNet.

For running on GPU it should be enough to change your example script to contain:
`device = torch.device('cuda')`
`model = atm.AtomisticMode

[2019-06-21 07:51] ktschuett commented on #104
PR #110 is merged.

[2019-06-21 07:51] #104 closed

[2019-07-02 21:24] OMalenfantThuot opened #126 "Restarting training in CUDA mode"
Hi!
I am  still working with the src/scripts/schnetpack_qm9.py script.
When the training is stopped, I suppose I should be able to restart it from the checkpoint-xx.pth.tar files.
However, if the training is done with CUDA, an error occurs the second time:
[code]
There's probably a missing `.to('cuda')` somewhere.
I'll try to look into it more, but I wanted to let you know.
Thanks!

[2019-07-04 17:28] OMalenfantThuot commented on #126
Ok so I found the problem and fixed it.
Currently, when the state_dict of the optimizer is loaded from the checkpoint file, it is not transfered to the GPU.
I have a fix available in the branch [fix_restart](https://github.com/OMalenfantThuot/schnetpack/tree/fix_restart) of my forked repo if you are interested. However, It requires adding `device` as an input for the declaration of a `spk.train.Tr

[2019-07-15 08:56] Dom1L opened #131 "No activation function in last dense layer in filter generator"
Hey!

I have a question regarding the filter generator network. In your code you don't use the SSP activation after the last dense layer in the filter generator, whereas in all publication figures there seems to be one.

https://github.com/atomistic-machine-learning/schnetpack/blob/cdecaed2489f6c8bde99a846805428e4f4a3f5a7/src/schnetpack/representation/schnet.py#L40

Was this on purpose?
It's proba

[2019-07-18 09:48] ktschuett commented on #131
Yes, this is on purpose, so now the filter can have negative values. However, in practice it does not make much of a difference.

[2019-07-18 09:48] #131 closed

[2019-07-19 08:55] Dom1L commented on #131
Thanks for the clarification!

[2019-08-01 01:57] wmmxk opened #138 "An error when running schnetpack_qm9.py"

[2019-08-01 02:01] wmmxk commented on #138
After I install this package, I run the following command,
schnetpack_qm9.py train schnet /home/wxk/Data/schnet/data /home/wxk/Data/schnet/model --split 10000 1000.
I run into this error. It is related to the data loader. Is it because of the version of my PyTorch ? I am using 1.1.0 version.

**FYI:** the error:
INFO:root:Parse xyz files...
INFO:root:Parsed:  10000 / 133885
INFO:root:Parsed:  2000

[2019-08-01 08:41] mgastegger commented on #138
This problem is due to a change of `cell` in the new version of ASE. It is now no longer a numpy array, but an object. We have already fixed this in the new master branch.

There were a few major changes in master. We merged all the different dataset specific scripts into one. The `schnetpack_qm9.py` script is now called as `spk_run.py train schnet qm9 ...`, the remaining options are the same as b

[2019-08-01 13:20] bartolsthoorn commented on #138
The eval command is also different, I have made changes to the README in this PR: https://github.com/atomistic-machine-learning/schnetpack/pull/140

[2019-08-02 01:53] liuxiaotong15 commented on #138
maybe you need update pip : )

[2019-08-02 04:56] liuxiaotong15 opened #141 "qm9_*.py in example folder not work..."
python qm9_tutorial.py
INFO:root:get dataset
INFO:schnetpack.data.atoms:Starting download
INFO:root:Downloading GDB-9 data...
INFO:root:Done.
INFO:root:Extracting files...
INFO:root:Done.
INFO:root:Parse xyz files...
INFO:root:Parsed:  10000 / 133885
INFO:root:Parsed:  20000 / 133885
INFO:root:Parsed:  30000 / 133885
INFO:root:Parsed:  40000 / 133885
INFO:root:Parsed:  50000 / 133885
INFO:root:Par

[2019-08-02 04:59] liuxiaotong15 opened #142 "readme should be updated?"
there is no schnetpack_qm9.py in folder. so is the readme outdated?

[2019-08-02 05:21] liuxiaotong15 commented on #142
I found when I run docs/tutorials/02_qm9.ipynb, md_tutorials branch can work well but master can not.

[2019-08-02 07:49] bartolsthoorn commented on #142
Yes you are right, an updated README is in this PR: https://github.com/atomistic-machine-learning/schnetpack/pull/140

[2019-08-02 07:54] bartolsthoorn commented on #142
Try running:
[code]
It should download the QM9 data automatically.

[2019-08-02 08:00] ktschuett commented on #142
Thx! Merged PR #140

[2019-08-02 08:00] #142 closed

[2019-08-02 08:01] ktschuett commented on #126
@Stefaanhess Is this issue solved with the new version?

[2019-08-02 08:03] ktschuett commented on #138
Yes, pull latest schnetpack version and update ase. We will update our pip version asap.

[2019-08-02 08:03] #138 closed

[2019-08-02 08:04] #52 closed

[2019-08-02 10:12] Stefaanhess commented on #141
#143 should fix the issue

[2019-08-02 10:12] #141 closed

[2019-08-02 10:47] wmmxk commented on #138
Thanks for your replies. I cloned the repo and install it again and upgraded the ase package (3.18.0).
Now I run into this error. I run the script in this way: spk_run.py train schnet qm9 /home/wxk/data /home/wxk/model/ --split 10000 10000 --cuda

FYI, the error message:
 File "/home/wxk/.conda/envs/schnet/bin/spk_run.py", line 30, in main
    dataset = get_dataset(train_args)
  File "/home/wxk/.c

[2019-08-02 11:37] Stefaanhess commented on #138
Hey @wmmxk ,
your dbpath should link to the database file:

spk_run.py train schnet qm9 /home/wxk/data/qm9.db /home/wxk/model/ --split 10000 10000 --cuda

should work

[2019-08-02 13:53] OMalenfantThuot commented on #126
Hi. The problem is still there in your master branch.
I could prepare a new branch with the fix and do a pull request if you wish, because the old one is now way behind.

[2019-08-02 15:17] liuxiaotong15 opened #144 "sorry, but master branch still not work..."
python spk_run.py train schnet qm9 qm9_data qm9_model --split 1000 200
Traceback (most recent call last):
  File "spk_run.py", line 5, in <module>
    from schnetpack.utils.script_utils import settings
ImportError: cannot import name 'settings' from 'schnetpack.utils.script_utils'

[2019-08-02 15:24] Stefaanhess commented on #144
Hey @liuxiaotong15 ,
 your dbpath should link to a database. Not to the folder.
Can you try to run:

python spk_run.py train schnet qm9 qm9_data/qm9.db qm9_model --split 1000 200

Does this solve the problem?

[2019-08-02 15:30] liuxiaotong15 commented on #144
no, same error
I think it will download auto, but no... even i copy a db file in that folder... still same error

[2019-08-02 15:31] liuxiaotong15 commented on #144
Python 3.7.4 (default, Aug  2 2019, 11:35:29)
[GCC 5.4.0 20160609] on linux

[2019-08-03 01:18] wmmxk commented on #138
I really appreciate your reply. It starts training. Could I know how long it will take to train on a computer with a single GeForce GTX 1070 card?

BTW, are there some blogs or videos about introducing schnet? (Maybe I should not ask a question like this here.)

[2019-08-03 15:40] bartolsthoorn commented on #144
Could you make sure you have installed with `pip install .` and then run `spk_run.py ...` from another directory (note WITHOUT `python` before, because pip installs `spk_run.py` as an executable).

[2019-08-03 22:46] liuxiaotong15 commented on #144
yes, you figure out the problem... @bartolsthoorn thank you so much...
I use "find" command and run in script folder...
and maybe i know what is the problem, the first line in the script folder is #!/usr/bin/env python. that path is  a python2 in my computer. After install the first line change to /home/lxt/code/py37_env/py37_env/bin/python3.7

[2019-08-03 22:54] #144 closed

[2019-08-05 08:44] ktschuett commented on #126
@Stefaanhess is on it. There seem to be some necessary changes beyond the fix with the new version.

[2019-08-05 12:10] Stefaanhess commented on #126
Hey @OMalenfantThuot ,

thanks for your solution. I used a modified version to fix the issue in #146 .
It should be working now.

[2019-08-05 12:37] #126 closed

[2019-08-05 18:39] BioFreak95 opened #147 "WarmRestartHook wrong relational operator?"
Hey,
in the function 'WarmRestartHook', self.best_current is initialized with infinity.
on_validation_end it calls an if-condition, when the val_loss is bigger than best_current. This can not be reached. I think it should be val_loss is smaller than best_current.
Than there is a condition, where it asks if best_current is bigger than best_previous. I think also here it should be reverse.

Maybe I

[2019-08-05 18:46] OMalenfantThuot commented on #126
Thanks!

[2019-08-06 09:47] ktschuett commented on #147
You're right the first one should be reversed, otherwise it does not stop. The second one is correct, since the waiting time should be increased if the loss did not improve and reset otherwise (but I think it is better to change it to >=). I'll do a pull request.

To the questions:
1. You could try that. I found that training with WarmRestarts can lead to overfitting, since your increasing the wei

[2019-08-06 10:05] BioFreak95 commented on #147
Ah. Yeah. Now I see. The second one is not wrong. Sorry.
But you are right, I think also that >= would be better.

OK. Thank you for the hints. I'll try them. :)

[2019-08-06 13:22] #147 closed

[2019-08-07 12:56] bartolsthoorn opened #149 "Evaluation on validation split fails"
The following command produces an empty evaluation.txt:
[code]

The reason is that the split name in code is expected to be "val". However, the util parsing script only allows the full word, i.e. validation. So I think the code where "val" is still used should be changed to "validation" as well.

[2019-08-07 13:58] Stefaanhess commented on #149
Thanks, I fixed it.

[2019-08-07 13:58] #149 closed

[2019-08-09 14:13] cod3licious opened #151 "wrong split argument in evaluation when getting loaders"
For spk_run the split argument for train is [n_train, n_val] while for eval it's ["train", "validation", "test"]. When getting the loaders for train/val/test data (line 34), `args` is passed, which works in train mode but in eval mode it's not the number of samples anymore but instead the list with up to 3 fold names (with all 3 that's also one argument to many that is passed to the train_test_spl

[2019-08-09 15:23] Stefaanhess commented on #151
Hey @cod3licious ,
you are right. I added a fix in #152

[2019-08-09 15:23] #151 closed

[2019-08-09 16:01] Stefaanhess opened #154 "torch.gesv not supported anymore"
Hi @mgastegger ,

torch.gesv() has just been removed by pytorch. They suggest to use torch.solve() (https://pytorch.org/docs/1.1.0/torch.html#torch.gesv).
I changed updated it #153 . Could you check, if the code is still working?

[2019-08-09 22:57] jwz-ecust opened #155 "Slow Training"
Hi,
I am appreciated for the NN framework. I have used SchNet in my dataset (clusters, 20-100 atoms). I found the training process is too slow (training: 100,000, almost three days' training) and the most time is spent on data loader. Is there any methods to accelerate the data loader? I have tried the [prefetcher](https://github.com/NVIDIA/apex/issues/304) but there is no obvious promotion.

Conf

[2019-08-10 23:11] wmmxk opened #156 "what is the meaning of cell and cell_offset in one batch?"
This is not exactly an issue. I had a hard time to understand the meaning of "cell" and "cell_offset" in a batch generated by a data loader. I did not find out how the two properties were generated. Could you explain or point me to the code if there is any?

[2019-08-12 07:43] #154 closed

[2019-08-12 10:05] ktschuett commented on #155
Did you try to increase the number of workers?
[code]

Otherwise, if you get an accurate network after three days, it does not sound too bad....

[2019-08-12 10:08] ktschuett commented on #155
Also, if you didn't, you should try the `schnetpack.environment.TorchEnviromentProvider`:
[code]

[2019-08-12 10:29] ktschuett commented on #156
Both properties are related to periodic boundary conditions. The `cell` contains the lattice vectors, while `cell_offset` are integer offsets set characterize the unit cell in which a neighbor is located.

E.g. given a unit cell `L \in R^{3x3}`, the center atom at position rA and the neighboring atom is at position rB in a neighboring cell with offset O=[2, 3, 4], the distance between both atoms i

[2019-08-12 10:30] ktschuett commented on #156
Would be a nice addition to the docs.

[2019-08-12 10:31] #155 closed

[2019-08-14 17:40] jduerholt opened #159 "Aggregation Layer"
Dear schnetpack developers,

I am wondering why it is necessary to have always an aggregation layer in an Atomwise output module? There could be the case that aggregation is not needed and one is only interested in  atomic properties.

An example could be the training of atomic charges with respect to reference charges computed by any population analysis. In this case no aggregation would be neces

[2019-08-16 10:54] wmmxk commented on #156
Thanks for your reply. It seems not complicated.

But I am still not sure how to calculate "cell" and "cell_offset" when applying schnet on another dataset. Do you know what is the input for calculating these two values given a molecule?

[2019-08-16 12:58] wmmxk commented on #156
Could you explain what "lattice vectors" in your reply? How are "lattice vectors" related to the "[atomic_numbers and positions](https://github.com/atomistic-machine-learning/schnetpack/blob/bd8af39a014c99ec347ac26ccf8b3f747b29917a/src/schnetpack/representation/schnet.py#L206)" of a molecule?

[2019-08-17 11:54] wmmxk commented on #156
I just found there is a function named "collect_neighbors" for generating the offset in another[ repo](https://github.com/atomistic-machine-learning/SchNet/blob/49a1e6031f50d79a83ea21148b8e8cbcabdaabb7/src/schnet/atoms.py#L30). And [cell=at.cell.](https://github.com/atomistic-machine-learning/SchNet/blob/f5254f9a4b869eb3e61fa3efc5ff10da3b1f4c63/src/schnet/atoms.py#L42). Is the "cell" and "offset"

[2019-08-17 15:27] wmmxk commented on #156
I looked into the definition of [Atoms class](https://github.com/rosswhitfield/ase/blob/6bb4f84f898e6b5262fff94444f6e9980875c1ef/ase/atoms.py#L208). It seems the "cell" is always a (3,3) numpy array of zeros for the QM9 dataset.
For the "offset", it is also a zero numy array because it is a [product](https://github.com/atomistic-machine-learning/SchNet/blob/f5254f9a4b869eb3e61fa3efc5ff10da3b1f4c63

[2019-08-19 07:45] ktschuett commented on #159
Hi,
you are right, there is not explcit layer at the moment for output per atom. However, you can use the Atomwise layer for that as follows:
[code]
The result dict will contain the atomwise property "charges" then.

[2019-08-19 07:52] ktschuett commented on #156
It is for periodic boundary conditions in materials. If you have a single molecule, you can ignore it. The pbc in your ase.Atoms should be set set to `False` and everything is ok.

Yes, that is essentially the same as in schnetpack [https://github.com/atomistic-machine-learning/schnetpack/blob/master/src/schnetpack/nn/neighbors.py](https://github.com/atomistic-machine-learning/schnetpack/blob/mast

[2019-08-19 07:53] #156 closed

[2019-08-19 08:42] jduerholt commented on #159
Hi,

thanks for your response. I also thought about this opportunity but I did not like that it is then also calculating the average. What I did was to add an additional "squeeze" option to the Aggregation layer:

`if self.squeeze == True:
     y = input.squeeze()
     return y
`
Since the atom contributions are always of the shape (batchsize, natoms, 1), the squeeze option reduces it to (batchsiz

[2019-08-20 12:26] Stefaanhess commented on #92
#160

[2019-08-20 12:26] #92 closed

[2019-08-20 12:28] Stefaanhess commented on #98
Hi @w6ye ,

I just added the trained models and a benchmark table to the docs in #160 .

[2019-08-20 12:28] #98 closed

[2019-08-21 12:55] BioFreak95 opened #162 "gaussian_smearing out of memory"
Hey Guys,
I know that in Issue #99 a similar problem was mentioned.
I try to make some calculations with proteins. I use a cutoff of 5a with the pytorch-neighborlist.
In average I get 1000 atoms with maximum neighbors of 60-70. So the matrix is 1000x65 in avg.

Well. In the gaussian smearing (ascf.py line 197) a diff-matrix is created. If one has a batch-size of 128 and 64 gaussians than this tens

[2019-08-22 10:29] ktschuett commented on #162
We can not calculate the Gaussian from the distances in-place, since the computation graph is needed for calculating the gradients. As far as I see, you can only reduce the number of Gaussians (for 5A, 25 Gaussians should be fine), or the batch size (small batch_sizes may not be too bad). You could also use the `DataParallel` module from pytorch to parallelize over several GPUs.

A more advanced i

[2019-08-22 11:38] BioFreak95 commented on #162
if not centered:
        # compute width of Gaussian functions (using an overlap of 1 STDDEV)
        #coeff = -0.5 / torch.pow(widths, 2)
        # Use advanced indexing to compute the individual components
        #diff = distances[:, :, :, None] - offset[None, None, None, :]
        gauss = torch.exp((-0.5 / torch.pow(widths, 2)) * torch.pow((distances[:, :, :, None] - offset[None, None, None,

[2019-08-22 11:48] ktschuett commented on #162
This would not make a difference to the memory requirements. You still calculate
``distances[:, :, :, None] - offset[None, None, None, :]``. It does not matter to memory consumption whether you assign it to a variable or not.

Beyond that, you will have tensors of size 128x1000x65xn_features in every SchNet layer. So the Gaussians only consume a fraction of the memory that the other activations do

[2019-08-22 12:24] BioFreak95 commented on #162
Ah sure. You are right. I do not know, why I did not saw this... Logically it is the same. :laughing:
Well in this case... Seems like I have to stay on my accumulating gradient :/

How can I find out the number of features? Thought the number of features is max_z in the embedding. So 100 in default. But maybe I missunderstood something!

[2019-08-22 13:14] ktschuett commented on #162
Why do you need to accumulate? Does SGD with small batches not work?

I mean the n_atom_basis you pass to the SchNet class.

[2019-08-22 13:30] BioFreak95 commented on #162
I am using ADAM and with batches bigger 4 I get out of memory. The loss is fluctuating very strong. So I think, the batch_size is to small. After using accumulating gradient the loss is much more stable.
I have 128 filter and 128 atom_basis. In the environment i have cutoff 5.0 and also in the cutoff in the schnet with cosine. 4 Interaction-Layer and 50 gaussians. -> So I thought this is a medium-

[2019-08-22 14:08] ktschuett commented on #162
I would start with much smaller networks and go larger from there. Try to set atom_basis & filter to 50 or so and perhaps interactions layers to 2 or even 1, just until it trains properly.

The fluctuation of the loss is a problem you tend to have with energies. I think it is because the assignment of energies to atoms needs to be learned. So if you have a lot of atoms, this gets even more complic

[2019-08-22 14:24] BioFreak95 commented on #162
OK I will try both of your tips. Thank you very much for your help and your time and sorry, that the issue was not really necessary.

I do not learning energies. I am trying to learn chemical properties of Protein Complexes. So it is a complete different problem. So I am actually not know, if this is works at all.

[2019-08-27 20:19] jduerholt opened #165 "Stress tensor"
Dear schnetpack developers,

is it planned to also implement the calculation of the stress tensor in schnetpack? This would enable to perform NPT simulations.

Best

Johannes

[2019-08-28 14:45] mgastegger commented on #165
Hi Johannes,
we plan to implement periodic boundary conditions and NPT simulations at one point in the future, so there will be stress tensors. This will take some time, but the standard static stress tensor should be straightforward. I will have a look.

[2019-08-29 15:46] dumkar commented on #52
I had the same error when running

`spk_run.py train schnet qm9 ./spk_data/qm9 ./spk_model/ --split 10000 1000`

Which resolves when inclding .db in the datadir:

`spk_run.py train schnet qm9 ./spk_data/qm9.db ./spk_model/ --split 10000 1000`

The README mentions <datadir> and not <datadir.db>

[2019-08-29 17:24] Stefaanhess commented on #52
I updated the README. Hope this helps

[2019-08-30 06:20] ivicts opened #169 "How to pad all the data into one single size instead of varying size?"
Hi,

I want to pad all the data (not a single batch) into a single size - the size of the largest molecule in the data. So, for QM9, I want all the data's properties (atom_mask, atomic_numbers, positions, etc) referring to an atom size of 29 because it is the size of the largest molecule in the QM9. How do I do this?

Can I confirm that how you pad: In one batch size (100), you pick the largest mo

[2019-08-30 09:14] mgastegger commented on #169
Yes, we pick the dimensions of the largest molecule in each batch.
The maximum size is determined in lines 29-31 of the function `_collate_aseatoms` in  `src/schnetpack/data/loader.py`.

If you want to use it during training, you could try setting the `max_size` value to a static number, e.g. `max_size = 29`. If you just want to reformat the data, you can also use a `DataLoader` where you set the

[2019-08-30 14:38] ivicts commented on #169
Hi,

max_size is actually a dictionary rather than a single value. This is one example of max_size:
`
{'energy_U0': array([1]), '_atomic_numbers': array([14]), '_positions': array([14,  3]), '_cell': array([3, 3]), '_neighbors': array([14, 13]), '_cell_offset': array([14, 13,  3]), '_idx': array([1])}
`
I have tried to changed the code for `_collate_aseatoms` in `src/schnetpack/data/loader.py` to

[2019-08-30 14:55] mgastegger commented on #169
1) Ah, yes I forgot. You basically need to change all entries containing the number of atoms as an dimension, which are exactly the ones you listed.
2) The sizes are correct, `_neighbors` has the dimension `n_atoms x n_neighbors`, which for the standard environment provider reduces to `n_atoms x n_atoms-1` (no double counting of the central atom). `_cell_offset` is similar.
3) This was just in cas

[2019-08-31 05:56] ivicts commented on #169
Hi, thanks for clarification for 1 to 3.

So, for (4), you meant that for properties which contain the number of atoms in their shape (e.g forces), I may need to pad the prediction label array as well is it?

Besides QM9, I may want to do MD17 and ISO17 dataset. As far as I know, they are having the same atom sizes for each task, so we will not need to pad this dataset right? So, this implementati

[2019-09-02 12:13] mgastegger commented on #169
Yes, exactly.

For the ISO17 dataset all molecules have the same number of atoms, so forces should be no problem. In the MD17 dataset it depends on whether you want to look on a single molecule (e.g. ethanol) or multiple molecules (e.g. ethanol and aspirin) at the same time. In the first case, there is no problem, in the second case you need to pad the forces.

[2019-09-02 13:12] #162 closed

[2019-09-02 13:14] #169 closed

[2019-09-02 13:19] ivicts commented on #169
@mgastegger thanks for the kind help!

[2019-09-20 13:32] tangzeyuan opened #177 "unit of dipole moment in orca_parser.py"
Hi all,

I notice that orca_parser.py only read "Total Dipole Moment" from orca.log file (e.g. [test_orca.log#957](https://github.com/atomistic-machine-learning/schnetpack/blob/37b3b13021e291f3e1c94e23653b191d03132b3d/tests/data/test_orca.log#L957)), but "Magnitude (a.u.)" or "Magnitude (Debye)" is ignored.

In [orca_parser.py#L638](https://github.com/atomistic-machine-learning/schnetpack/blob/37b

[2019-10-01 13:10] lixinyuu opened #178 "any documents about the output module of Polarizability"
Hi,

The output module of Polarizability looks very interesting. However, I cannot get this run with the following code.
[code]
The error message as follows
[code]
Could you please give me some suggestions about this? By the way, is there any reference about this Polarizability? Sorry I can not understand what this is trying to do, thus have no idea how to debug this.
Thanks.

[2019-10-02 03:00] XinyuuLi commented on #178
More information about this issue. I think the error come from the following line

https://github.com/atomistic-machine-learning/schnetpack/blob/ae0c781dcbb4048d40d7b9fdc68a67bbb13efe00/src/schnetpack/atomistic/output_modules.py#L461
neighbor_contributions is a B*A*N*1 matrix instead of B*A*N*2. This line throw error message as
"neighbor_contributions2 = neighbor_contributions[:, :, :, 1]
IndexErr

[2019-10-02 10:36] Stefaanhess commented on #178
Hi @XinyuuLi ,
You are right, there seems to be an issue with the dimensions.
Maybe you can use the spk.atomistic.Atomwise output module, which has also been used for the benchmark results, while we are fixing the issue.

[2019-10-02 10:47] XinyuuLi commented on #178
Thanks @Stefaanhess ,
I am quite interested in this output module. It looks like you are going to calculate the  deriative of dipole on the field direction. Have you done any test with this output module? BTW, it is appreciated if you can add the math formulas here. Thanks again.

[2019-10-08 13:45] Stefaanhess commented on #178
I will link @mgastegger here, who is unfortunately on holliday until next week. He should be able to tell you more about the output module.

[2019-10-16 14:27] Stefaanhess commented on #178
Hey @XinyuuLi ,

the polarizability-output shuold be fixed with #179 . I will test it on QM9 and add it to the benchmarks.

[2019-10-21 15:25] mgastegger commented on #177
By default, the total dipole moment vector is read, which is given in atomic units. The magnitude is simply the length of this vector. The use of atomic units is intended, as it makes handling a lot of different properties significantly easier in the long run.
However, if you should require Debye you can either specify the conversion factor in the OrcaFormatter as suggested above (should be around

[2019-10-22 09:20] tangzeyuan commented on #177
@mgastegger Thanks for your clarification. I'm just not sure how schnetpack reads the unit of dipole moment.

[2019-10-22 09:20] #177 closed

[2019-10-25 13:57] mgastegger commented on #165
Hello Johannes, we finally added the stress tensor functionality to the atomistic layer.
The `TorchEnvironmentProvider` should be used in order to obtain the right behavior for periodic boundary conditions.
It is also possible to use the stress tensor for training with `spk_run.py` by specifying the `--stress` flag.

[2019-10-28 06:53] ruoitrau86 commented on #165
Hi,
Is there any update soon for this implementation for the ASE interface? as I see that Implemented_properties = [energy, forces] only at this time.

[2019-10-28 07:02] jduerholt commented on #165
Thank you very much for the implementation and the possibility to use it also for training. I will start using it soon!

[2019-10-28 20:58] mgastegger commented on #165
I will have a look to add the stress to the ASE calculator.

[2019-11-06 00:42] junwoony opened #181 "change inputs and embedding layer"
Dear Schnetpack people,

I'm trying to replace the embedding layer by a Linear layer so that my new input can pass it.
I tried to remove the embedding layer and add a new `nn.Linear` layer in the` __init__ `and `foward` in `SchNet` class, but it says

[code]

Do you have any idea how to add/remove layers from the model?
Is there anything I need to update when I add/remove layers?

[2019-11-06 09:32] mgastegger commented on #181
Hi,
this looks like the script is trying to load a previously stored checkpoint. For this it is testing whether the entries in the state_dict are consistent and does not find the embedding layers any more. This is the default behavior in SchNetPack if you run training with the same model directory as in a previous run.
You could try to start the training with a new directory (or delete the old one

[2019-11-06 17:07] junwoony commented on #181
Yes. It works now.
Thank you

[2019-11-06 17:07] #181 closed

[2019-11-08 20:28] OMalenfantThuot opened #182 "Memory requirements for material project dataset"
Hi.
I hope you're doing great!

I'm using the training script interfaced with the Material Project dataset.

For a reason I don't understand, the CUDA memory requirements are really high. I'm using the same GPU than precedently, and I have to set batch_size to 4 instead of 256 or 512 in previous cases.

The problem can be reproduced with:
[code]
with the following `args.json` :
[code]

I get the f

[2019-11-12 10:33] mgastegger commented on #182
Hi, the problem seems to be the size of the systems in the materials project. Considering the periodic boundary conditions and that the materials can be quite dense, there will be a lot of atoms in the environment with a cutoff radius of 10 Angstrom. You could try reducing the cutoff to 5A, which is what we did for the benchmarks.

[2019-11-12 18:44] OMalenfantThuot commented on #182
With a 5 Angstrom cutoff, I was able to use batch sizes of 32 structures, which is not so bad.

Maybe the default parameters (batch_size 100, cutoff 10 and environment_provider "simple") should be changed for this dataset.

Thank you for the answer. It's appreciated.

[2019-11-12 18:44] #182 closed

[2019-11-16 17:50] jduerholt commented on #165
One further question: You mention that the torch environment provider should be used to obtain the right behavior for PBCs. From my understanding the same should also be achieved by using the ASE environment provider, or?

[2019-11-16 20:08] jduerholt opened #184 "TorchEnvironmentProvider"
Dear SchNetPack developers,

I tried to use the TorchEnvironmentProvider instead of the AseEnvironmentProvider for my system using a cutoff and PBCs for performance reasons, but I failed. I think there is a bug in the TorchEnvironmentProvider, but of course it could also be due to my incompetence :-)

I provide for you a minimal working example showing the substantially different behavior of the A

[2019-11-16 21:04] mgastegger commented on #184
You are right, there seems to be a problem with the TorchEnvironmentProvider. Those two should not give different results. We will have a look, let's see what light we can shed. Thanks for the example, that should help narrow it down.

Stress tensor, etc should work fine with the ASE provider, so you can use that instead until we fix the problem.

[2019-11-19 11:24] mgastegger commented on #184
I found the problem and fixed it. Should now give the same results as ASE within random ordering. Generally, it seems that the ASE provider in its current incarnation is the better default choice, at least on CPU.

[2019-11-19 11:26] jduerholt commented on #184
Thank you very much. I will test the performance for my use case on a RTX2080TI.

[2019-11-19 11:28] mgastegger commented on #184
No problem, it's good you noticed the bug.

I would also be interested how both providers perform on GPU.

[2019-11-19 11:35] mgastegger commented on #165
The ASE calculator should now be able to handle the stress tensor.

[2019-11-19 11:35] jduerholt commented on #184
As soon as I find time, I will do the tests and post it here. Presumably, this will be next week since I am visiting Alexandre Tkatchenkos group for the rest of the week.
Best
Johannes

[2019-11-22 17:11] OMalenfantThuot commented on #184
I was coming here for the same bug! Thanks a lot for the fix.

Would it be a problem to do more frequent releases for minor versions (0.3.1, 0.3.2, etc.)?
For this bugfix and in general.

It would help to maintain my own package and run automated tests.
For exemple, at the moment my interface is working with 0.3.0, but not with the master branch.

Thank you!

[2019-11-22 18:42] OMalenfantThuot commented on #184
It seems the fix wasn't sufficient to totally bring the torch environment provider up to the ase level.

To reproduce the bug:
[code]
with the following `args.json`:
[code]
The dataset is a custom dataset I generated, containing energy and forces.
You can get it [here](https://drive.google.com/file/d/1_9GURwprQXomd70SV2Ff_eQdPXIT3Yi4/view?usp=sharing)

With those parameters, the log looks like thi

[2019-11-22 18:48] mgastegger commented on #184
@OMalenfantThuot thanks a lot for the feedback, seems like there is  a problem with the masking of the distances somewhere. I will have a look. Regarding your interface, what is the problem with the current version of the master branch?

[2019-11-22 18:51] OMalenfantThuot commented on #184
It's a minor thing (one of the inputs of `_convert_atoms()` changed name at some point).
But if I change it in my code, the CI tests will fail when I install schnetpack with pip.

[2019-11-25 19:25] OMalenfantThuot opened #188 "requires_stress on older models"
Hi.
I do not know if it is intented but models trained before the addition of stress tensors can no longer be used in evaluation mode.

I think it could be easily fixed in `/src/schnetpack/atomistic/model.py`
with something like:
[code]

As always, thank you very much!

[2019-11-26 13:39] Stefaanhess commented on #188
Hey,
I see the problem. I guess it would be good to also store the best model parameters as a state dict, so one can initialize the model and load the weights?

``
model = spk.AtomisticModel(*args, **kwargs)
model.load_state_dict(torch.load("best_model.state_dict"))
``

This should solve the issues with changes in the model classes (also for the future), but requires knowledge about the model argu

[2019-11-26 15:22] OMalenfantThuot commented on #188
This would be put in the spk_run.py script?

At the moment, the Error is in the `forward()` call, not the `__init__()` so I'm not sure this would fix the problem.

[2019-11-26 16:32] Stefaanhess commented on #188
I meant that just as a general idea for saving and loading models. I will talk to @mgastegger about a solution tomorrow.
For now I made a small script which should transform old models to the new spk version:

[code]
This adds the stress arguments to all output modules and creates a new `AtomisticModel` with the new code. The weights should stay the same.

[2019-11-27 10:10] jduerholt commented on #165
I had a look on the implementation of the stress tensor in the ASE. The following units are specified

``stress_units="eV/Angstrom/Angstrom"``

I am now a bit puzzled since in general  a stress tensor has units of energy/volume like a pressure. Also ASE is using this definition from my understanding. Can you help me here?

[2019-11-27 10:31] mgastegger commented on #165
First of all, you are right, the stress tensor units should be Energy/Length^3. I fixed this in the branch.
The argument `stress_units` specifies the units used by the ML model. These are then used to convert the predictions to the (hopefully) correct ASE units. One could also e.g. have kcal/mol as energy units.

[2019-11-27 11:20] jduerholt commented on #165
Thank you very much. Could you perhaps give me a brief explanation how you calculate the tensor? I see, that you differentiate with respect to ``displacements``. What does this mean?

[2019-11-27 12:58] mgastegger commented on #165
We model the stress tensor as the derivative of the potential energy with respect to the strain (displacement) on the unit cell, which is then divided by the volume (see e.g. Knuth _et. al._ Comput. Phys. Commun 190, 33-50, 2015):
<a href="https://www.codecogs.com/eqnedit.php?latex=\sigma_{ab}&space;=&space;\left.&space;\frac{1}{V}&space;\frac{\partial&space;E}{\partial&space;\epsilon_{ab}}&space;

[2019-11-27 14:16] mgastegger commented on #188
We added a custom load function `load_model` in schnetpack.utils which should resolve the issue.

[2019-11-27 16:15] OMalenfantThuot commented on #188
Works great now.
Thank you very much.

[2019-11-27 16:15] #188 closed

[2019-11-28 07:34] stanos4 opened #190 "tutorials bug"
Hello,

In the tutorials "Training a neural network on QM9" and "Training a model on forces and energies" you use I think old name of the keyword "get_atomwise_statistics", that is now "divide_by_atoms"?.

Thank you!

[2019-11-28 12:35] Stefaanhess commented on #190
Hi @stanos4 ,
You are right! I will fix it.

[2019-11-28 12:47] #190 closed

[2019-11-28 14:10] stanos4 opened #192 "logging.py CSVHook small bug"
Hi,

one more small bug - when restarting the trainer with CSVHook with existing log.csv file, it restarts "wrongly".
logging.py::CSVHook::__init__@line115 is:
self._offset = float(lines[-1].split(",")[0]) - time.time()

but should be:
self._offset = float(lines[-2].split(",")[0]) - time.time()

This bug will prevent restart of the training process.
(or some other place that writes "the last" newl

[2019-11-28 14:38] Stefaanhess commented on #192
Hi @stanos4 ,
I am not sure what you mean. I just started a training session with a CSV hook, which interrupted after some epochs. When I started the same script again, it continued at the same point where I interrupted it without any errors. Did you run the scripts, or did you use your own code?

[2019-11-28 18:39] stanos4 commented on #192
I practically use the tutorial only, here are the steps (I just modified some cutoffs and batch sizes to see if I can increase my GPU utilization). But I'm running on Windows10 machine now, with the conda version of Schnetpack (conda install -c conda-forge schnetpack):

`import schnetpack as spk
from schnetpack.datasets import QM9
from torch.optim import Adam
import schnetpack.train as trn
import

[2019-11-29 07:51] stanos4 commented on #192
Also, yesterday I tested on another machine, linux this time (fedora 31 with cuda as well) and I can see that the csv log file is different. On windows, I get an empty line after each log record, on linux it's without the empty lines.

[2019-11-29 11:28] Stefaanhess commented on #192
Oh, ok. Could you maybe also add the error message and the csv file?

[2019-12-02 13:05] stanos4 commented on #192
attached is the log and here is the error message:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "C:\Users\XXX\AppData\Roaming\Python\Python37\site-
    packages\schnetpack\train\trainer.py", line 163, in train
        h.on_train_begin(self)
      File "C:\Users\XXX\AppData\Roaming\Python\Python37\site-
   packages\schnetpack\train\hooks\logging.py",

[2019-12-02 13:34] Stefaanhess commented on #192
Hi @stanos4 ,

Could you maybe try and run these lines on Windows and send me the resulting log files?

[code]

and

[code]

I can not test on Windows, but maybe this already solves the problem.
Thanks!

[2019-12-02 14:04] stanos4 commented on #192
[log_test_0.txt](https://github.com/atomistic-machine-learning/schnetpack/files/3911584/log_test_0.txt)
[log_test_1.txt](https://github.com/atomistic-machine-learning/schnetpack/files/3911586/log_test_1.txt)

[2019-12-02 14:07] Stefaanhess commented on #192
Thanks, #193 should fix the issue.

[2019-12-02 14:22] stanos4 commented on #192
sorry, but nope, still the same (I modified my source according to your patch).

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "C:\Users\ssimko\AppData\Local\Continuum\miniconda3\envs\schn\lib\site-packages\schnetpack\train\trainer.py", line 160, in train
        h.on_train_begin(self)
      File "C:\Users\ssimko\AppData\Local\Continuum\miniconda3\envs

[2019-12-02 15:27] Stefaanhess commented on #192
Oh, ok. Could you please attach the log file again?

[2019-12-02 19:33] Stefaanhess commented on #192
@stanos4 did you reinstall schnetpack, after you made the changes in the CSV logger? If not, you might need to activate your environment, go to the schnetpack folder and run:

[code]

This reinstalls schnetpack, which should include your changes.

[2019-12-02 19:53] stanos4 commented on #192
I will give it a try tomorrow. However, I modified the "logging.py" file that was being used according to your patch (i.e. modifying single occurrence of file opening by passing the newline parameter), and upon restarting the python console it was still not working (modifying the same file by my "workaround" solves the error for me).

[2019-12-04 13:16] Dankomaister commented on #184
Could you give some details on which part of the code you change to get rid of the nan problem.
I get the same error trying to train my model on energies and forces using the TorchEnvironmentProvider.

[2019-12-04 16:26] OMalenfantThuot commented on #184
I don't think the problem is fixed yet. I use the ase environment provider instead.

[2019-12-05 08:40] mgastegger commented on #184
Yes, sorry, the issue still persists. As of now, please use the ASE environment provider. We are still trying to find the bug.

[2019-12-14 18:10] stanos4 commented on #192
Hi, sorry it took me so long. I just checked out the current git repo and installed with "pip install .", but the same problem persists:

    trainer.train(device=device, n_epochs=n_epochs)
    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "C:\Users\ssimko\AppData\Local\Programs\Python\Python37\lib\site-packages\schnetpack\train\trainer.py", line 160, in t

[2019-12-16 16:01] jduerholt opened #195 "GPU to CPU compatibility"
Dear SchnetPack developers,

if I train my model using the GPU (device: "cuda"), I cannot use it on the CPU (device: "cpu"). Is this a constraint of using pytorch under the hood or can it be fixed?

Best,

Johannes

[2019-12-16 16:05] Stefaanhess commented on #195
Hey @jduerholt ,

did you use ``map_location="cpu"`` when loading the model?
Normaly it should be possible to load GPU models to the CPU by using:

``
model = torch.load("model_path", map_location="cpu")
``

Best,
Stefaan

[2019-12-16 16:21] jduerholt commented on #195
Thank you very much. I did not know this command. I set only the device keyword of the ml_calculator class to "cpu" and it failed. Thanks for your help. Now it works!

[2019-12-16 17:58] Stefaanhess commented on #195
Great!
@mgastegger : I updated the calculator, to move the ml_model to the desired device before running the calculations.

[2019-12-16 22:56] saeid0021 opened #198 "'AtomisticModel' object has no attribute 'requires_stress'"
Hi everyone!

I've just met SchNetpack and I'm trying to use "[Trained Models](https://schnetpack.readthedocs.io/en/stable/getstarted/benchmarks.html#trained-models)" for predicting energy_U0 but in the last step, this error appears:
` 'AtomisticModel' object has no attribute 'requires_stress'`

[code]

I also tried to do the evaluation on test data on documentation, the same error appeared.

[2019-12-17 08:45] jduerholt commented on #184
I think that there is one general problem for all current environment providers for production calculations. In every MD step (at least by using ASE) the environment is recalculated from scratch which means that the distances to all atoms have to be recalculated which should scale quadratic. Making use of neighborlists here should give massive speedups (at least for larger systems) and a better sc

[2019-12-17 10:28] mgastegger commented on #198
We introduced the possibility to calculate stress tensors recently, which is why older models yield the above error. To avoid this issue, we added the `load_model` function to `utils`, which can be used to savely load models before the addition of the stress tensor.

If you replace
`best_model = torch.load(os.path.join(qm9tut, 'best_model'))`
with
`best_model = spk.utils.load_model(os.path.join(qm

[2019-12-17 10:28] #198 closed

[2019-12-17 12:15] mgastegger commented on #184
Yes, this is still a big issue. There are plans to include more efficient neighbor schemes (for the MD package in particular), but to do so properly needs time. Hence, what you are working on does indeed sound very interesting to us. We'd be happy to test this in SchNetPack.

[2019-12-17 12:52] #195 closed

[2019-12-17 14:07] pschienbein commented on #195
Dear SchNetPack developers,

Closely related to this issue, there is another problem if the training has been performed using multiple GPUs and the model is to be used on a CPU. I employ multiple GPUs by using the torch.nn.DataParallel object. This splits the given model into chunks to be parallelizable, while the original model is retained (and also updated!) (https://pytorch.org/docs/stable/nn.h

[2020-01-03 13:32] stanos4 opened #199 "GPU performance tuning"
Hello,

I'm looking for performance advice. I try to reproduce your results with QM9 database. So if I understand correctly, this should reproduce the results and performance as published at your paper "SchNetPack: A Deep Learning Toolbox For Atomistic Systems" (https://arxiv.org/pdf/1809.01072v1.pdf):

     spk_run.py train schnet qm9 ./qm9.db ./ --split 109000 1000 --cuda --batch_size=100 --lr_d

[2020-01-03 13:36] stanos4 commented on #199
here is the args.json content

    {
        "batch_size": 100,
        "checkpoint_interval": 1,
        "cuda": true,
        "cutoff": 10.0,
        "cutoff_function": "cosine",
        "datapath": "./qm9.db",
        "dataset": "qm9",
        "environment_provider": "simple",
        "features": 128,
        "interactions": 6,
        "keep_n_checkpoints": 3,
        "log_every_n_epochs": 1,

[2020-01-06 20:28] stanos4 commented on #199
So I have tested another system (Google cloud platform), Debian 10 (4.9.0-11-amd64) with pre-installed Cuda 10.1 (driver v418.87.01), Conda 4.8.0 and Pytorch 1.3, on K80 GPU and the results are in line with my previous timings:

    pip install schnetpack --user
    ~/.local/bin/spk_run.py train schnet qm9 ./database_stan.db ./ --split 109000 1000 --cuda --batch_size=128 --lr_decay=0.5

    Time,L

[2020-01-06 22:54] Stefaanhess commented on #199
Hey @stanos4 ,
sorry for the late reply.
It seems like there is an issue with the figure in the paper. A minute per epoch should be a reasonable time for training.

Best regards,
Stefaan

[2020-01-07 07:24] stanos4 commented on #199
Thank you!
Best,
Stan.

[2020-01-07 09:58] #199 closed

[2020-01-07 23:45] Stefaanhess commented on #199
Hey @stanos4 ,

I just saw, that I did not answer your second question:

You can set the number of cpu workers in the dataloader. It is hard-coded to 4:

https://github.com/atomistic-machine-learning/schnetpack/blob/d45ae7523f3232bfc349ec25e9f9b3f26d14358a/src/schnetpack/utils/script_utils/data.py#L89

Best,
Stefaan

[2020-01-08 07:31] stanos4 commented on #199
Thank you! I couldn't see it before with grepping number 4 through the source :)

[2020-01-12 12:49] Stefaanhess commented on #192
fixed by #200

[2020-01-12 12:49] #192 closed

[2020-01-12 23:57] giadefa opened #201 "AtomsData properties dtypes"
Hi,
you seem to be storing the dtype in the database, but then the properties are always converted to a FloatTensor:

https://github.com/atomistic-machine-learning/schnetpack/blob/d45ae7523f3232bfc349ec25e9f9b3f26d14358a/src/schnetpack/data/atoms.py#L361

I would have expected:
`properties[pname] = torch.from_numpy(prop)`

[2020-01-13 10:25] mgastegger commented on #201
Hi,

currently the dtype is only present because of how we store data. All properties are stored in binary format in order to save storage space. To convert back to floats, one needs to know the dtype.

We usually assume, that training/prediction is carried out on a GPU due to the speedup, hence we use FloatTensors as default, as GPUs typically only support single precision.

Did you encounter any

[2020-01-13 10:38] giadefa commented on #201
I was saving a dtype=np.int64 array to keep track of some conformations
(not used for training) but the result is of course wrong with a forced
conversion to float without providing any error message.
Given that AtomData provides a dataset, maybe allowing for different Tensor
types would be useful.

On Mon, Jan 13, 2020 at 11:25 AM mgastegger <notifications@github.com>
wrote:

[2020-01-13 13:59] mgastegger commented on #201
We will have a look. It also seems that ASE now automatically stores data in binary format, which would make our current approach superfluous.

[2020-01-13 15:28] giadefa commented on #201
It would also be nice to extend datasets from datasets rather than exposing
the storage mechanism in __init__, e.g.

for instance:

from collections import OrderedDict

class CachedDataset(Dataset):#TODO: UNTESTED
def __init__(self, dataset, cache_size=200000):
self.dataset = dataset
self.cache_size = cache_size
self.cache = OrderedDict()

def __getitem__(self, idx):
if self.cache.get(str(idx)) is

[2020-01-13 22:56] neojie opened #203 "cutoff"
There are many how different ways we can set cutoffs in schnetpack. Say, when we build data, we can invoke `AtomsData('water_en.db', available_properties=['energy','forces'],
                    environment_provider =  AseEnvironmentProvider(5)))`
When we load data, we can set cutoff by `data = MD17('../mydata.db',environment_provider= AseEnvironmentProvider(5))`
Also, we can set cutoff in
[code]

[2020-01-14 10:37] mgastegger commented on #203
The first two ways are basically identical, since the MD17 dataset makes use of AtomsData.
So there are two instances where a cutoff can be given:
1. via an environment provider when generating a dataset. Here the environment provider is used to collect the neighbors of each atom. If a cutoff is given, all neighbors beyond the cutoff are neglected. This means, the network never sees these neighbor

[2020-01-14 22:58] neojie commented on #203
Thank you for your prompt reply.
1) setting cutoff via an environment provider when generating a dataset. Is there any way of saving the calculated information in the database? For example,
[code]
We would get a neighbor list as
[code]
However, we when load the data by
[code]
we get the neighbors list as
[code]
I understand that this is because we the default environment is SimpleEnvironmentProvid

[2020-01-14 23:51] neojie opened #204 "merge two MD17 dataset"
I was trying to merge two MD17 datasets (dat1.db, dat2.db). They have the same shape of cell, same atoms, but different configurations. I want to merge them to form a new dataset. Is there any easy way of doing it? The way I can think about is to
`    db_md17 = AtomsData('new.db', available_properties=['energy','forces'])
`
then iterate over dat1.db and dat2.db add add the atoms and properties int

[2020-01-15 15:23] giadefa commented on #201
it would be nice to have a dataset class which uses the ASE DB and numpys array as input/output types and another class which extends it,  providing what is required by schenetpack (e.g. torch.Tensor)

[2020-01-15 16:05] mgastegger commented on #203
1. Currently, there is no way to store the computed neighbor lists in SchNetPack. We found that this quickly uses a lot of disk space and due to the IO overhead it is usually actually faster to compute the neighbors on the fly. But you could always extend your database to store the neighbor lists as additional properties.
2. I actually recommend to set the representation cutoff all the time, since

[2020-01-15 16:10] neojie commented on #203
Thank you.  Cutoff of 1 A is just a practical example.

[2020-01-15 16:10] #203 closed

[2020-01-15 16:41] mgastegger commented on #204
Unfortunately, there is no such simple way to merge datasets yet.

One way like you described would be to load both datasets, then iterate over the second to collect atoms and properties and add them to the first dataset via `add_system`/`add_systems`. One would have to convert to numpy arrays inbetween.

[2020-01-15 17:06] mgastegger commented on #184
Finally found the bug in the torch provider. It now gives the same results during training as the ASE provider.

[2020-01-15 17:06] #184 closed

[2020-01-15 18:07] neojie commented on #204
OK. Thank you.

[2020-01-15 18:07] #204 closed

[2020-01-16 05:25] L3viAckerman commented on #77
Hi @ktschuett , I am trying to reproduce the paper results too, but I'm facing with that time need for training model is too much, about 130s for one epoch. So when I read the params, I see epochs is 5000, so huge for my device (I only have 1 K40m GPU). I wonder what number of epochs is the min  for training model to reproduce the paper results. Thanks you so much!

[2020-01-16 05:25] L3viAckerman opened #207 "Reproduce the paper's results"
Hi @ktschuett , I am trying to reproduce the paper results too, but I'm facing with that time need for training model is too much, about 130s for one epoch. So when I read the params, I see epochs is 5000, so huge for my device (I only have 1 K40m GPU). I wonder what number of epochs is the min for training model to reproduce the paper results. Thanks you so much!

[2020-01-16 08:59] Dankomaister commented on #165
This is a very interesting feature, any update on the progress to including this in the master branch?

[2020-01-20 14:12] Stefaanhess commented on #207
Hi @L3viAckerman ,

Reproducing the benchmark results for QM9 takes about 1-2 minutes per epoch. So the 130s seems to be reasonable. I am not sure how many epochs it takes until the model converges to the banchmark values, but it will never take 5000 epochs. The *epochs* parameter sets the maximum number of epochs. Since the training script uses a learning rate scheme by default, the training stop

[2020-01-20 14:44] mgastegger commented on #165
The updated ASE calculator is now in the master branch.

[2020-01-21 09:01] Dankomaister commented on #165
Great!

I tried evaluating the stress tensor on my dataset of periodic structures (diamond and lonsdaleite) and after only a few epochs (training on energy and forces) I was able to reach a MAE in the stress tensor below 0.1 eV/Å^3 (interestingly the MAE in the stress tensor show sign of overfitting while the energy and force MAE are continuously decreasing).

I did however run into a problem. I’m

[2020-01-21 13:23] L3viAckerman commented on #207
Hi @Stefaanhess ,
I am a student and I am doing my thesis about Machine Learning in Quantum Chemistry, so reproducing Schnet paper's results is a part of my work.
Thank you so much for helping me and wish the best for your and your team in 2020.

Best regards,
LinhLPV

[2020-01-21 13:34] Stefaanhess commented on #207
Thanks and good luck!

[2020-01-21 13:34] #207 closed

[2020-01-22 09:49] mgastegger commented on #165
Glad to hear the stress tensor seems to work. We use the full (symmetric) 3x3 tensor in SchNetPack.

Regarding your problem, if you just want to generate the database for training, you could also create a custom `AtomsData` dataset, where you add the stress tensor as an extra property. E.g. by adding to the properties dict in  `add_system(atoms, **properties)`. In general, we store all the propert

[2020-01-22 11:07] Dankomaister commented on #165
Thanks for the suggestion!

I will think about what the best solution is. Since SchNetPack returns the 3x3 symmetric stress tensor I can just convert it to an 1D array in Voigt order. Then it is comparable with the stress as read from VASP by ASE if I just convert the unit also… Or maybe I will write a custom function to read the properties from VASP and store them into the additional data entry o

[2020-02-19 19:28] neojie opened #210 "training error with BehlerSFBlock"
Hi,
I tried using  `BehlerSFBlock` representation as follows but did not succeed.

[code]
The error message is as follows,

[code]

[2020-02-20 10:36] mgastegger commented on #210
The problem are the `n_features` you pass to ` spk.atomistic.Atomwise`. Behler symmetry functions are special, as the number of features is predetermined based on the number of radial and angular functions given. This means unless you are lucky the given `n_features` will mismatch with the one built in the `SFBlock`. An easy way around this is to use the `n_symfuncs` attribute, which contains the

[2020-02-21 06:27] neojie commented on #210
Thank you. It solved the problem and runs smoothly if I use `spk.atomistic.Atomwise`. However, if I switch to  `spk.atomistic.ElementalAtomwise`,  I got the following error message.
[code]
It seems that this error is due to the size mismatch [https://discuss.pytorch.org/t/runtimeerror-cuda-runtime-error-710/61751/11](url) .

[2020-02-21 14:36] mgastegger commented on #210
This is strange, for me it seemed to work. Did you delete the old model directory before restarting the training with the `spk.atomistic.ElementalAtomwise` block?

[2020-02-21 18:03] neojie commented on #210
Yes, I have deleted the `train` folder. Anyway, `spk.atomistic.Atomwise` works and I will stick to it in this case. Thank you!

[2020-02-21 18:03] #210 closed

[2020-02-24 20:32] jstoppelman opened #212 "Loading molecules from ASE in MD System object"
Hello, first, thank you for making this useful software available! I think I'm experiencing a bug in the System class when trying to run a MD simulation with Schnetpack. See the following code:

[code]
This gives a TypeError:
`TypeError: 'SimpleNeighborList' object is not callable`

This traces back to lines 180-181 in the "system.py" file located in the "md" subdirectory:
[code]

I'm able to fix

[2020-02-25 09:13] mgastegger commented on #212
Hi, thank you for the feedback. The neighbor list issue does indeed happen when calling the `load_molecules` routine twice. Once the molecules are loaded the neighbor list is already initialized leading to the error. We are currently working on a release where we have moved the neighbor list to the calculator, which will solve this issue.
Regarding the `load_molecules` function, it expects a list

[2020-02-25 14:32] jstoppelman commented on #212
Thank you, I just thought of making a list to contain the singular `ase.Atoms` object myself and that should fix things. I do think a check for this could be useful though. Thank you for the comments, I have no other problems on my end. Should I close this issue?

[2020-03-01 13:06] liuxiaotong15 opened #214 "what's the Gibbs free energy unit in qm9.db?"
hi
I download qm9.db from the schnetpack, and I find the gibbs free energy is about -10000. I guess the unit is eV?
but in another qm9 dataset, I find the value is about -70 and unit is eV....
So I want to make sure about the unit in schnet qm9.db

thanks

[2020-03-02 00:16] neojie opened #215 "incorporate other descriptors"
Hi,
I was trying to incorporate other descriptors using a recent package `Dscribe`. `Dscribe` use `ase` atoms object as input and output the representation.  In other words, I want to combine the well established training framework of  `schnetpack`'s and the versatile representation generation tool `Dscribe`.
I was able to train the energy. But for the force, because it is a derivative of energy a

[2020-03-02 07:13] liuxiaotong15 commented on #214
I know it now, -10000 is molecular gibbs energy and -70 is atomization energy.. so I close it now/.

[2020-03-02 07:13] #214 closed

[2020-03-02 11:57] Dankomaister commented on #165
Hi,
I have encountered a problem when calculating stress using different batch sizes.

When I use a batch size of 1 then the results are close to the true values (5-25% error) which is expected since the training data only contains structures with small stress. However, when I increase the batch size the stress for certain structures becomes infinite. This is especially bad when a batch size of 3

[2020-03-02 12:49] mgastegger commented on #165
Hm. Are you sure this is a problem of the batch size? Issues with the padding should in principle only happen, when the molecule size changes withing a batch. And the volume is computed based on the cell, which is never padded (since it is always 3x3). There could be a problem with the broadcasting somewhere, though. I will have a look.
Otherwise I would check whether there are data points with al

[2020-03-02 13:14] Dankomaister commented on #165
Double checked, and yes there is definitely something strange going on when I change the batch size.
What I mean with padding is that the number of total images is not even divisible with the batch size. But also for the testing data I'm using the number of atoms in the images also changes.

Let me see if i can make an MWE and upload here.

[2020-03-02 13:20] mgastegger commented on #215
I am happy to hear that you like the SchNetPack training framework!

Unfortunately, I'm afraid, there is no quick way to incorporate the forces in the above setup. The problem is, as you described, the derivative with respect to the positions. If descriptors are used, the force is computed via the chain rule
<a href="https://www.codecogs.com/eqnedit.php?latex=\mathbf{F}_\alpha&space;=&space;-\sum_

[2020-03-02 13:49] Dankomaister commented on #165
[MWE_stress_bug.zip](https://github.com/atomistic-machine-learning/schnetpack/files/4275701/MWE_stress_bug.zip)
Ok, check if this MWE works!

Now when I think about it, I also had some problem when training, where the loss function (which includes the stress) became inf for certain batch sizes. This I solved by setting `drop_last=True` in the `AtomsLoader` however this is not an ideal solution whe

[2020-03-02 14:53] mgastegger commented on #165
Thank you very much for the example, it helped nailing down the issue. There was a problem with the computation of the volume when the stress tensor was evaluated. It should work now.

[2020-03-03 07:00] Dankomaister commented on #165
Great happy to help!
schnetpack keeps getting better and better.

[2020-03-03 20:44] simonbatzner opened #217 "Size extensibility / Periodic Systems"
Hi! I'm trying to use SchNet for modeling extended, periodic systems and have two questions regarding the use of SchNetPack in this case:

1. is SchNet size extensible - i.e. if I train on a system of N atoms and want to run Molecular Dynamics on a system of M >> N atoms, is that possible with the current version of the code? If not, is it possible in principle?

2. Is it possible to parallelize S

[2020-03-03 21:35] simonbatzner commented on #203
So why would I ever set the environment cutoff larger than the representation cutoff? If its only purpose is to compute the neighborlists that a convolution runs over, but then the representation cutoff zeros out any features beyond it, then how would the atoms beyond that contribute?

Another, related question to that would be: even if both the data cutoff and the representation cutoff are say 5A

[2020-03-03 22:19] neojie commented on #215
I see. Do you have any plans to incorporate more descriptors in Schnetpack in the near future?

[2020-03-04 09:52] mgastegger commented on #203
To your first question: For training purposes it makes no sense, but it can be useful in molecular dynamics simulations. If the cutoff in the environment is e.g. set 1 A larger than in the representation, then the neighborlist only has to be recomputed if the atoms move out of this buffer zone. This can lead to some speedups, especially for materials.

To the second question: The `n_interactions`

[2020-03-04 10:46] mgastegger commented on #217
Hi Simon,
glad you are interested in SchNetPack. To your questions:

1. SchNet is fully size extensive. You can easily train on smaller systems and then perform the prediction on larger ones. We use the typical atomistic network structure, where the total energy is a sum of atomic energies, which are functions of the atoms environment.
2. Due to the graph like structure, a single prediction proced

[2020-03-04 15:28] neojie commented on #217
Regarding the scalability or extensibility, I tried using SchNet to train a small ionic silicate system (4 formula unit MgSiO3 melt, MD simulations at P, T using VASP, system size 6.9A*6.9A*6.9A, cutoff is set as 5 A) and get quite small MAE (energy < 0.01 eV, force <0.05 eV/A). I applied the best fitting model to the a bigger system (16 formula unit MgSiO3 melt, , MD simulations at the same P, T

[2020-03-04 18:25] mgastegger commented on #217
Sorry to hear that. Since you also tried fitting the larger system without success and there are ions, my guess would indeed be the electrostatics. There are ways to combine neural network potentials with explicit electrostatics (e.g. https://journals.aps.org/prb/abstract/10.1103/PhysRevB.83.153101 or https://pubs.acs.org/doi/10.1021/acs.jctc.9b00181). There are also plans to include them into Sch

[2020-03-04 19:26] simonbatzner commented on #217
Thanks a lot for your detailed answer @mgastegger , that was very helpful. That's what I expected regarding size extensiveness and parallelization, so that's good to hear.

The 10k atoms you reference on a single GPU, is that for a molecular structure? I observe that when I use extended, bulk solids with a cutoff of about 7A with SchNetPack, I very quickly have to go to small batch sizes of 5-10 s

[2020-03-04 19:33] simonbatzner commented on #203
Thank you for your answer - so in running MD simulations, this would be like the ghost radius in LAMMPS, that makes sense.

Regarding the cutoff sum - do I understand correctly that this stems from the form of the cosine cutoff, which begins at 0 and ends at the cutoff distance:

`cutoffs = 0.5 * (torch.cos(distances * np.pi / self.cutoff) + 1.0)`

If so, then it seems like that could easily be fi

[2020-03-06 13:25] mgastegger commented on #217
Ah yes, 10k is for molecules and prediction. Training is more demanding, especially if forces and stress tensor are included.

Out of interest, how large is the unit cell for the bulk / how many atoms does it contain?

[2020-03-06 13:32] mgastegger commented on #203
Yes, this is due to the cutoff form. We are not sure, if this is a behavior that should be fixed, at least for molecules it makes sense to focus on the local environment. What this tells you is, that give a 5 Angstrom cutoff, each atom effectively experiences an environment of ~12-14A.

[2020-03-10 11:59] bkmi opened #218 "Atomrefs, where do they come from?"
Where do the atomref numbers come from?

The only documentation I have found about them hasn't been specific.
[Here](https://schnetpack.readthedocs.io/en/stable/tutorials/tutorial_02_qm9.html#Dataset-statistics) is where they are discussed in the tutorial.
[Here](https://schnetpack.readthedocs.io/en/stable/modules/atomistic.html#schnetpack.atomistic.Atomwise) is the documentation for the function

[2020-03-10 18:44] mgastegger commented on #218
In general, these are the energies computed for the free atoms (single atom in vacuum).

There are two ways how they can enter SchNetPack.

First, if using `spk_run.py`, SchNetPack only makes use of them if they are given in the metadata of the dataset (e.g. in QM9). To be specific, two entries are needed in the metadata:
- `atref_labels`: list of the properties for which atomrefs are available
-

[2020-03-10 23:04] bkmi commented on #218
Thank you for your answer but I should have been more specific. From where do you calculate the atomrefs? Do you create a schnet model without them then average across contributions from certain atoms? I want to know where the values built in to QM9 came from.

[2020-03-10 23:21] bkmi commented on #218
I think I found my answer:
https://www.nature.com/articles/sdata201422#Sec4

It's in the qm9 paper.

[2020-03-16 12:42] mgastegger commented on #212
This will be fixed in the next release.

[2020-03-16 12:42] #212 closed

[2020-03-21 09:48] L3viAckerman opened #219 "Units Conversion"
Hi,
I am reproducing the paper results and when I read the code, I see the units of the QM9 mu using in code is Angstrom, not is Debye. I am confusing a bit about this. The results that get when run the code in properties QM9 mu, the results I get must convert to Debye to get the paper results. So, the MAE loss must multiply by 4.803204673 ( Angstrom to Debye). And the MAE is 0.033 in the paper is

[2020-03-21 16:33] mgastegger commented on #219
Hi, you are right, the dipole moment in QM9 is converted from Debye to ASE internal units. And to convert the loss back to Debye you need to multiply by 4.803204673. This means the MAE reported corresponds to a MAE of 0.00687 output by the default scripts, as you said.

[2020-03-22 01:55] L3viAckerman commented on #219
Thank you so much!

[2020-03-22 01:55] #219 closed

[2020-04-01 04:53] L3viAckerman opened #220 "Something seems worng with the split.npz"
Dear,
I am reproducing the results in the QM9 dataset. I found the  trained benchmark-models in the document. But when I saw closer, I found that the split.npz file of the qm9 dipole moment does not match with the dataset. In the args.json, I see the ***remove_uncharacterized*** param is true so the total molecules in QM9 is 130831. But the total index in the ***split.npz*** file is 133885. So I t

[2020-04-02 12:19] mgastegger commented on #218
Thats correct.

[2020-04-02 12:19] #218 closed

[2020-04-02 19:40] prit2596 opened #221 "CUDA out of memory for large dataset"
I am trying to schnetpack model in order to predict properties. When I tried the model on large dataset it is giving me Out of Memory exception. I am using shared GPU.

[2020-04-03 12:11] Stefaanhess commented on #221
Hey @prit2596 ,

are you using a trained model for property prediction, or are you training a model? In general, the GPU memory consumption should not be depending on the dataset size, since the data will be split into smaller batches before it is loaded by the GPU.
Could you also tell me how much GPU memory is available for you?

Kind regards,
Stefaan

[2020-04-05 11:32] linhlpv opened #222 "Reproducing results"
Hi, I am reproducing the results of SchNet as one of works for my thesis. I found [Trained model](https://schnetpack.readthedocs.io/en/stable/getstarted/benchmarks.html#trained-models) in the documents of SchNet. But when I run it , I found somethings wrong with the split.npz file. When setting of the training in ***args.json*** file, **remove_uncharacterized** is set to be true, the size of the q

[2020-04-05 16:49] Stefaanhess commented on #222
Hi @L3viAckerman ,
I will check the split file tomorrow.
Best regards,
Stefaan

[2020-04-06 13:11] L3viAckerman commented on #222
Hi @Stefaanhess , thank you so much!

[2020-04-06 13:34] Stefaanhess commented on #222
Ok, I found the issue.
The --remove_uncharacterized argument is only used to select which datapoints are written to the db file. If the database does already exist, the argument is ignored. I think the benchmark models have been created with the use of an existing (full size) dataset and the uncharacterized molecules have not been removed for training. I will fix this and maybe also update the tra

[2020-04-06 13:36] Stefaanhess commented on #220
Hey @L3viAckerman ,
I will close this issue and move the discussion to #222 .

[2020-04-06 13:36] #220 closed

[2020-04-06 14:30] L3viAckerman commented on #222
Hi @Stefaanhess
Thank you so much! Could you update the trained model and public it? I really need the model to benchmark but I only have the Colab to use, so I can retrain all of them.
Thank you again for your helping!

[2020-04-14 02:42] ht141379 opened #223 "Training Energy + Forces"
Hey I was running through the tutorials in the manual and noticed that in the QM9 tutorial we have the line:
`loss = trn.build_mse_loss([QM9.U0])`
To define the loss function for the trainer. However when looking at the ethanol tutorial there isn't a line. In the Ethanol_script.py in this github it does not run due to mse_loss not being part of the package. So In my attempts I defined my loss as:

[2020-04-14 09:35] Stefaanhess commented on #223
Hey @ht141379 ,
you are right. Some refactorinbg had gone wrong in the script. I fixed it in #224 . The easiest way for simple MSE loss is to use the ``build_mse_loss`` and define the tradeoff factors.
Could you explain a bit more, what you mean with the plot for predicted vs. real values?

[2020-04-15 01:59] ht141379 commented on #223
Hey thanks for that, just wanted some clarification!
Regarding the second point I was referring to when testing a trained model. I found that in many papers it's a good way to visualize how well your model is preforming by plotting a graph of predicted property vs real property value and we aim for an x=y graph. Essentially plotting the target property value vs the property value predicted by the

[2020-04-16 21:25] hsukiang commented on #222
Hello there,
I have clone the Gschnet and tried to train the model from scratch. However there is an error with the split file (split.npz)? Is that similar to this issue ? Thank you for your time.

`(gschnet) jameshko@jameshko-HP:~/Documents/researchnrc/QED/gschnet$ python ./G-SchNet/gschnet_qm9_script.py train gschnet ./data/ ./models/gschnet/ --cuda
INFO:root:Random state initialized with seed 5

[2020-04-17 05:11] L3viAckerman commented on #222
Hi @hsukiang , could you check the size of the db, and the total idx in the split? Maybe the error is the size of the db is not match with the split file.
And one question, where is the split file you use from?

[2020-04-17 07:23] NiklasGebauer commented on #222
Hello @hsukiang, your problem should not be related, I think you can fix it by providing the --split parameter, it is missing in the line provided in the G-SchNet readme. Thanks for reporting the problem, i will fix the call in the documentation. The correct line to reproduce the paper results is:

`python ./G-SchNet/gschnet_qm9_script.py train gschnet ./data/ ./models/gschnet/ --cuda --split 5000

[2020-04-28 06:57] neojie opened #225 "MD simulation with environment set"
Hi,
I was using the MD module and wondering if there is anyway that the environment info (for example AseEnvironmentProvider(5)) can be included when load the starting structure.
I trained my model  by
[code]
I used the best model to do the MD simulation. If I just use  `md_system.load_molecules_from_xyz(molecule_path)`, the environment info cannot be included and  predicted energy and forces are

[2020-04-30 15:29] neojie commented on #225
Alright, I think I may have (partly?) solved the problem by modifying the `_generate_input` function under `schnet_calculator.py`. Here is the modification I made

[code]
The output force and potential are close to what they should be. Does this modification make sense to you?
Thank you!

[2020-04-30 15:39] mgastegger commented on #225
This looks reasonable. Basically the only thing the above wrapper adds is an additional buffer zone and a check how far the atoms moved so that the neighbor list does only have to be recomputed if the atoms move too far.

The only thing to look out for are the units, the MD system uses atomic units (Bohr etc) internally. This needs to be consistent with the cutoff, if no conversion happens when yo

[2020-04-30 15:45] neojie commented on #225
I see. Thank you. One more question is that when the starting molecule structure is loaded using the `System` class, it seems that the cell information is not loaded. I wonder if the cell size info is discarded in the MD simulation.  Also, is the periodic boundary condition is taken care in the MD simulation?  I tried reading the source code but could find the implementation of periodic boundary c

[2020-04-30 15:50] mgastegger commented on #225
Unfortunately, these are all parts missing from the current master. All these things (+barostats, wrapping etc.) are present in the `pbc_update` branch (hence the name). Since there are other updates to come, we did not integrate into the master yet. It should work without problems for models trained in the master branch, as basic SchNet was not touched. This might be worth giving a try in your ca

[2020-05-07 00:48] neojie commented on #225
Thank you. `pbc_update` branch is very helpful.

[2020-05-07 00:48] #225 closed

[2020-06-01 17:45] jstoppelman opened #226 "Materials Project Training"
Hello, I want to eventually train SchNet models on some crystal structures that I have obtained using Quantum ESPRESSO, and I figured I would first test out my model settings on the Materials Project database. While training the formation energy per atom, the MAE seems to plateau at 0.6 eV/atom, which is quite a bit worse than the 0.041 eV/atom that I see in the SchNetPack paper: https://doi.org/1

[2020-06-05 07:10] jwz360 opened #227 "MD Simulation with SchNetCalculator"
Hi! My MD system has over 600 atoms. I have finished training a model. However, when I use model to try MD simulation, there are two situations: 1. employing "CPU" as device, it shows that buffers on device "cuda" but model on device "cpu“; 2. employing "cuda" as device, it shows CUDA out of memory. I want to know why buffers on device "cuda" or how to set parallel when performing MD simulations.

[2020-06-05 07:12] jwz360 commented on #221
Maybe you just forgot to open parallel flag.

[2020-06-05 13:45] Stefaanhess commented on #226
Hey @jstoppelman ,
I am not sure, but maybe your test set is very small? You use 4/5 of the data for training and 1/5 for validation. This means that there is not much left for testing? If the test set only contains 1 or two datapoints, different results can occur. Can you try to use e.g. num_train=0.8 and num_val=0.1 or something similar?
Stefaan

[2020-06-05 13:52] Stefaanhess commented on #223
Hey @ht141379 ,
sorry for the late reply! Unfortunately we do not have a plotting funcion for that, but it should be easy to do it yourself. You can just compute the properties for the test set and plot them depending on the target values

[2020-06-05 13:55] Stefaanhess commented on #221
Hey @prit2596 ,
did you solve the memory problem? If yes, I would close this issue :)

[2020-06-05 16:45] prit2596 commented on #221
Yes. It’s resolved

On Fri, Jun 5, 2020 at 8:55 AM Stefaanhess <notifications@github.com> wrote:

--
Best,
Prit Thakkar

[2020-06-05 16:46] Stefaanhess commented on #221
Ok, great!

[2020-06-05 16:46] #221 closed

[2020-06-08 03:41] ht141379 commented on #223
Okay thanks for the info! If you're not too busy I had some other questions!

Thank you

Hayden

On Fri, 5 Jun 2020 at 21:52, Stefaanhess <notifications@github.com> wrote:

[2020-06-08 15:21] Stefaanhess commented on #223
Sure, I will try to answer your questions

[2020-06-09 12:38] mgastegger commented on #227
Hi, unfortunately the MD code has no parallel version yet. Parallelization in pytorch works by distributing mini-batches to different GPUs, which is easy to do during training. However, in standard MD one usually has a single molecule. In order to compute this on more than one GPU, the systems would need to be split in different fragments, which then need to be evaluated independently.
This could

[2020-06-09 12:40] mgastegger commented on #227
Out of interest, which neighborlist/cutoff do you use and how large is the VRAM of your GPU?
For 6 Angstrom cutoff, periodic boundary conditions and ASE neighbor list systems with ~1000 atoms can be simulated on a 16GB GPU.

[2020-06-09 14:44] jwz360 commented on #227
Thanks for your reply! For 6 Angstrom cutoff, I failed to perform MD simulation with  640 atoms by 12GB GPU.

[2020-06-09 14:47] jstoppelman commented on #226
@Stefaanhess Thank you for the reply! I adjusted num_train=0.8 and num_val=0.1, but the validation MAE output in the log.csv file still plateaus around 0.6 eV/atom during training, and the test MAE gives a similar result at 0.62 eV/atom. This is still pretty far off from what I would expect, and I still can't find anything wrong with the code used to setup the model...

[2020-06-09 15:12] mgastegger commented on #227
Ah, one thing I forgot, the current MD code in the master branch uses a brute force pairwise neighbor list, which is far from optimal for large systems especially wrt to memory usage. You might want to try out the pbc_update branch, where you can specify one of the other neighbor list. For this, you would have to adapt the `calculator` block in the input along these lines (`cutoff` uses the distan

[2020-06-10 07:34] Stefaanhess commented on #226
I am not sure what has gone wrong... Could there be an issue with the units in the database? Did you use the automatic download of the MaterialsProject class to generate the database?

[2020-06-10 07:47] mgastegger commented on #226
Did you try using a different patience/learning rate? In the code examples you use a `lr=0.0001` and `patience=5`, which might both be to low. The low patience in particular could cause the plateau you see. In the paper we used values of `lr=0.001` and `patience=25`.

[2020-06-11 01:23] jwz360 commented on #227
@mgastegger  Thanks for your advice!

[2020-06-11 01:23] #227 closed

[2020-06-18 23:59] jstoppelman commented on #226
Reporting back after changing the `lr`. The MAE does improve to 0.36 eV/atom in comparison to before. Is it strange that the training set loss improves throughout the training, while the validation loss essentially plateaus? Going through the code, I believe that there are no unit conversions from the initial eV that the dataset is downloaded with using `matproj.py`, is this correct? I was trying

[2020-06-19 06:42] Dankomaister commented on #226
Hi!
What you have there is a clear example of overfitting! were the training loss decreases while the validation loss increases.
I have experienced similar results when training SchNet models for my current paper. Could SchNet benefit from adding dropout to the network? Is this anything that has been tested before?

[2020-06-19 09:41] Stefaanhess commented on #226
@jstoppelman yes, the units are not converted in any way. I also checked that. Still I do not really know what is goinig on... I have not trained any MaterialsProject models myself, but the overfitting seems not right. Could you check the size of the dataset for me? Maybe the database is corrupted and some data is missing?
@Dankomaister we are working on the building blocks of SchNetPack at the mo

[2020-06-19 23:44] jstoppelman commented on #226
@Stefaanhess The training that I made the figure from is using a subset of the first 63000 configurations, with 49600 for training and 12400 for validation and I left 1000 points for testing. I did this so the size of my training + validation set was the same as the SchNetPack paper. The total size of the Materials Project database is 124478 crystals currently, I only created a subset of the struc

[2020-06-26 14:50] coolcodecamper opened #228 "Efficiency tuning"
Dear developers,

I like SchNetPack a lot.
It seems the code can be made more efficient.
For example pytorch recommends to use torch.nn.parallel.DistributedDataParallel(model) instead of torch.nn.DataParallel(model).
Here I found some simple guidelines, e.g. to avoid transfers between cpu and gpu:
https://towardsdatascience.com/7-tips-for-squeezing-maximum-performance-from-pytorch-ca4a40951259

I

[2020-06-26 15:36] Stefaanhess commented on #228
Hey @coolcodecamper ,
thanks for your remark! I will have a look at it.

[2020-06-26 15:39] Stefaanhess commented on #226
@jstoppelman I will run the MaterialsProject-script myself in order to check the results. Maybe that can help to narrow down the problem...

[2020-06-26 16:39] jstoppelman commented on #226
@Stefaanhess ok, thank you for checking. I haven't found anything wrong with my script yet, although there could be something I'm still missing that I don't see.

[2020-07-15 07:14] jwz360 opened #229 "Training Problem with structures with constraint"
I tried to train schnet on structures with energy and forces, in which some atoms are fixed. I found that the losses were infinite. My understanding is that fixed atoms' forces are zero but relaxed atoms are not, which may result in performing very sick matrix calculations. Any idea to solve it?
Thanks!

[2020-07-23 07:48] mgastegger commented on #229
In general, also the forces on relaxes atoms should be zero.

[2020-07-30 03:57] jwz360 commented on #229
@mgastegger Thanks for your advice. Finally, I found the reason. Actually, it caused by ase's read module. For old version, It would treat constrained atoms position as zero. I upgrade ase to the up-to-date one, it fixed.

[2020-07-30 07:56] mgastegger commented on #229
Multiple atoms with the same positions do indeed sound problematic. Great to hear that you found the issue.

[2020-07-30 07:56] #229 closed

[2020-08-10 09:20] Dankomaister opened #230 "Warnings with latest version of PyTorch"
Hi!

Running schnetpack gives a lot of repeated warnings during training.
The two repeated errors I get are the following:
`python3.8/site-packages/schnetpack/data/atoms.py:330: UserWarning: The given NumPy array is not writeable, and PyTorch does not support non-writeable tensors. This means you can write to the underlying (supposedly non-writeable) NumPy array using the tensor. You may want to c

[2020-08-11 03:05] jwz-ecust opened #231 "Restart Training"
Hi! I want to know how to restart training once the training job was interrupted. Also, is there any method to train a new model based on the pre-trained model.

[2020-08-18 17:24] jstoppelman commented on #217
@mgastegger I was reading this thread and you mentioned using cosine basis functions for periodic systems, which I'm trying to train using SchNetPack. Would this involve replacing the linear functions in the atom-wise layers with cosine functions?

[2020-08-19 11:52] coolcodecamper opened #232 "ASE interface SpkCalculator cache results"
Dear developers,

the ASE Calculator class stores results in cache (energy, forces, ...).
If there are multiple calls to the calculate function but no system_changes (positions, ...) have occured, results can be obtained instantly from cache.
I believe it requires only one additional line ("if self.calculation_required(atoms, properties):") in the SpkCalculator class in schnetpack/interfaces/ase_i

[2020-08-20 12:12] mgastegger commented on #217
If I understood correctly, what you mean is to modify the last layer of the atomistic output networks.
We were thinking more along the lines of replacing the radial basis functions (Gaussians) used to expand the distances in the SchNet convolution by a periodic basis (e.g. Fourier series).

[2020-08-20 12:20] mgastegger commented on #232
Thank you for the info, this should indeed be simple to fix. I will have a look.

[2020-08-20 16:03] mgastegger commented on #231
Training is restarted automatically if you re-execute your training command (`spk_run.py ...`) specifying the same training folder (just make sure not to use the `--overwrite` flag). Instead of using the full training command, it is also possible to call schnetpack via `spk_run.py from_json <MODELDIR>/args.json`, which will read in the settings from the previous run and restart training.

Using on

[2020-09-09 06:40] Dankomaister commented on #230
Should just mention that this occurs with PyTorch version 1.6.0

[2020-09-09 07:52] Stefaanhess commented on #230
Hey @Dankomaister ,
sorry for the late reply. I will try to find out what is going on there

[2020-09-11 12:29] Stefaanhess commented on #230
#233 should remove the warnings. Thanks @Dankomaister

[2020-09-11 12:31] Stefaanhess commented on #231
@jwz-ecust does this solve the issue?

[2020-09-11 12:44] Dankomaister commented on #230
Great I'm getting no warnings now, thanks!

[2020-09-11 14:13] Stefaanhess commented on #230
nice :)

[2020-09-11 14:13] #230 closed

[2020-09-11 15:18] Stefaanhess commented on #201
Hi @giadefa ,
we have been thinking about this when we implemented changes on the dataset class, but we decided to not split the dataset into a "dataprovider" which provides np-arrays and a "dataset-wrapper" for training, since there are no other useful types of dataproviders yet. The ase.db tools do also provide the necessary functions in order to get the np-arrays :)

[2020-09-11 15:18] #201 closed

[2020-09-11 15:21] #165 closed

[2020-09-11 15:22] #178 closed

[2020-09-11 15:24] Stefaanhess commented on #215
@neojie, we are planning to implement different representation modules for future versions.

[2020-09-11 15:24] #215 closed

[2020-09-11 15:27] #222 closed

[2020-09-14 14:06] Dankomaister opened #234 "Improvements to the TorchEnvironmentProvider"
I noticed that the TorchANI project has committed some changes to the `neighbor_pairs` function used in the `TorchEnvironmentProvider` which should improve performance.

Not sure how much improvements it gives but maybe it could be an idea to implement them.

[2020-09-22 07:42] mgastegger commented on #232
I added the caching of the ASE results.

[2020-09-22 07:42] #232 closed

[2020-09-22 08:26] mgastegger commented on #234
I ran some tests, the changes to the `neighbor_pairs` function seem to improve performance on the GPU by a factor of ~3-4 (100 atoms system, 5 Angstrom cutoff). I updated the function in the master branch.

[2020-10-01 05:47] Dankomaister commented on #234
Hi @mgastegger

I finally got a chance to test the updates to the TorchEnvironmentProvider.
From my tests (supercells of TiC) I saw a maximum performance increase of ~18% both on the GPU and CPU (see attached figure). However, I did notice that the updated version uses more memory compared to the old one. With the old version I was able to run a maximum system size of 2000 atoms on my 8GB GTX 1070

[2020-10-05 02:23] bigd4 opened #238 "Question about standardize layer"
Dear schnetpack developers,

I have some questions about the use of standardize layer in class 'Atomwise'. It seems that if the number of atoms are different in a batch, some inexistent atom will have the mean energy?
`
yi = self.out_net(inputs)
yi = self.standardize(yi)
`

Best

Laosi

[2020-10-05 02:34] #238 closed

[2020-10-05 08:49] #231 closed

[2020-10-05 10:33] sirmarcel opened #239 "Trainer does not restore "stopped" state"
Hello,

I have a quick question about the `Trainer` class:

The `Trainer` does not remember whether it has already stopped or not. If you train with a LR plateau hook, the following happens: After training to convergence, the `Trainer` terminates as expected. Then, if you restore it from the latest checkpoint, it runs *again* for a few more epochs, presumably until the hook triggers again. You can

[2020-10-05 13:12] Stefaanhess commented on #239
Hey @sirmarcel ,

I am not sure why someone would train a model until convergence and then run `trainer.train()` again, without changing the lr-settings :D
Saving `self._stop` to the state dict would prohibit any retraining of the model at all. In case someone uses the `MaxEpochHook`, trains the model for x epochs and then tries to train for some more epochs, it would be the easiest to overwrite t

[2020-10-05 14:14] sirmarcel commented on #239
Hi Stefan,

That's a good question 😆 ! In my case, I was just testing some automation on top of `Trainer` and was confused that it kept running after converging initially. I would expect the `Trainer` to either be finished or not, independently of whether it was restored from a checkpoint, so running `.train()` should run at most one step before finishing again.

Thanks for explaining the idea beh

[2020-10-05 16:31] Stefaanhess commented on #239
Hey Marcel,

Oh ok, I think it would be good to also store the `best_loss`. I am not sure what the best behaviour for converged models is. Since e.g. the `MaxEpochHook` directly aborts training, when the maximum number of epochs is reached, it would make sence to also use this behaviour for other stop-hooks.
@ktschuett : Should converged models be able to train until they converge again (without a

[2020-10-05 17:02] ktschuett commented on #239
I think the trainng should abort directly if you don't change the patience or any other training parameter. It should behave as if it never was interupted.

[2020-10-05 17:03] Stefaanhess commented on #239
Ok, I will have a look at the hooks and fix them if necessary.

[2020-10-05 17:54] sirmarcel commented on #239
Thanks, Kristof and Stefan! Really appreciate it.

@Stefaanhess: If you're having a look anyways, I think there's a bug in the `Trainer` state restoration: [This line](https://github.com/atomistic-machine-learning/schnetpack/blob/cd8bc502323a0f3c785dba8a3efe4eaae0002686/src/schnetpack/train/trainer.py#L114) should be using `state_dict` instead of `self.state_dict`, otherwise the hook state gets lo

[2020-10-19 04:45] kobebranyt opened #241 "QM9 dataset best model"
Do you have some best models for QM9 dataset which have been trained already for using?

[2020-10-19 11:52] Stefaanhess commented on #241
Hey @kobebranyt ,
we have some trained models for QM9 here: https://schnetpack.readthedocs.io/en/stable/getstarted/benchmarks.html
They have been trained on the QM9 dataset, without removing the uncharacterized molecules.

[2020-10-20 02:47] kobebranyt commented on #241
Thank you!
when I use the model learning from QM9 to predict some other molecules' energy, I meet "AttributeError: 'AtomisticModel' object has no attribute 'requires_stress'", how to solve this problem?

[2020-10-20 02:47] kobebranyt commented on #241
Thank you!
when I use the model learning from QM9 to predict some other molecules' energy, I meet "AttributeError: 'AtomisticModel' object has no attribute 'requires_stress'", how to solve this problem?

[2020-10-20 08:18] Stefaanhess commented on #241
The pretrained models have been trained with an older spk version. If you use `spk.utils.load_model()` instead of `torch.load()`, the model will automatically be updated to the latest version.

[2020-10-21 02:10] kobebranyt commented on #241
Thank you!

[2020-10-21 08:19] #241 closed

[2020-10-21 12:43] 6-Qingying opened #242 "QM9 training"
Hello,
I have trained a model using 50k traing examples, and I want to continue to train a new model using 120k training examples based on the original model. I copy the files (log.csv, best_model, checkpoints) in optput folder, changed 'num_train=50000' to 'num_train=120000' and went on with my training. However, after several training steps, it stopped and the output follows: ValueError: could n

[2020-10-21 12:52] Stefaanhess commented on #242
Hey @6-Qingying ,
are you using the `spk_run.py` script for training? Could you maybe add the full error message, so I can see where the error occurs?

[2020-10-21 13:36] 6-Qingying commented on #242
I'm traing using the script written by myself.

The output (if any) follows:
/opt/conda/conda-bld/pytorch_1591914880026/work/torch/csrc/utils/tensor_numpy.cpp:141: UserWarning: The given NumPy array is not writeable, and PyTorch does not support non-writeable te    nsors. This means you can write to the underlying (supposedly non-writeable) NumPy array using the tensor. You may want to copy the ar

[2020-10-21 13:41] Stefaanhess commented on #242
This seems to be related to the `loadtxt`-function. What file are you trying to load in line 79?

[2020-10-21 13:52] 6-Qingying commented on #242
log.csv
`results = np.loadtxt(os.path.join(args.log, 'log.csv'), skiprows=-8, delimiter=',')`

[2020-10-21 14:02] Stefaanhess commented on #242
The problem here is, that you are loading the header (which starts with 'Time') and then `loadtxt` is trying to cast it to float. This fix should work:

`results = np.loadtxt(os.path.join(args.log, 'log.csv'), skiprows=1, delimiter=',')[:-8]`

[2020-10-22 02:33] 6-Qingying commented on #242
It works! Thank you so much! ^_^

[2020-10-22 09:39] Stefaanhess commented on #242
Nice :)

[2020-10-22 09:39] #242 closed

[2020-10-23 09:09] sirmarcel commented on #239
Took the liberty of opening a PR (#243) to fix this issue, I think as discussed!

[2020-10-26 02:46] 6-Qingying opened #244 "training efficiency"
Hello！
![efficiency](https://user-images.githubusercontent.com/73232902/97128007-2f2d2680-1776-11eb-863e-a1450877c294.gif)
My training efficiency on both GPU and CPU is very low even if I add 'num_workers=4' to the learning script. Is there any way to increase efficiency？
Thank you for help! :）

[2020-10-27 10:35] Stefaanhess commented on #244
Hey @6-Qingying ,
I assume that you want to increase the volatile gpu-util? Are you using an SSD? You could also try to set `pin_memory=True` in the dataloader. This [post](https://discuss.pytorch.org/t/gpu-high-memory-usage-low-gpu-volatile-util/19856) on the pytorch-forum eyplains possible reasons. Let me know, if that solved the problem!
If you want to increase the memory-usage, you could use a

[2020-10-27 12:52] 6-Qingying commented on #244
`import argparse
import os
import torch
import numpy as np
import schnetpack as spk
import schnetpack.train as trn
from schnetpack import AtomsData
from torch.optim import Adam

parser = argparse.ArgumentParser()
parser.add_argument("-db", type=str, help="Database file path")
parser.add_argument("-log", type=str, help="Log directory")
args = parser.parse_args()

logdir = args.log
if not os.path.ex

[2020-10-27 13:19] Dankomaister commented on #244
Hi @6-Qingying,
Maybe I can give some suggestions.
First try and set `num_workers` for both the `train_loader` and `val_loader` since both are used during training.
Also what hardware are you running on?
I would increase the `num_workers` to at least 4 per GPU (depending on how many CPU cores you have available).
I see that you are trying to run on two GPUs, maybe try and use only one initially an

[2020-10-27 14:49] Stefaanhess commented on #244
I just did a little test, to measure the difference. When I run a training session on the SSD, I get a volatile gpu-util value between 30% and 90%. The same script on a HDD only yields values between 0% and 30% :)

[2020-10-30 11:23] 6-Qingying commented on #244
Thanks for help!
I have tried the approach you provided, and it is quite useful! Thank you so much!

[2020-10-30 12:16] 6-Qingying commented on #244
That explains a lot!  I see. Thanks again for your help! And SSD is unavailable temporarily, maybe one day I would have a try and experience a volatile gpu-util value between 30% and 90%. 👍 :)

[2020-11-04 14:32] otayfuroglu opened #245 "Schnetpack MD on multiple GPU"
Hello every one,
When I run md job which is in the schnetpack MD pack as 4 replica, whole job run on one gpu. I have 4 gpu and I want to each replica running on one gpu as parallel.
How can I do that?

Thank you

[2020-11-06 09:49] otayfuroglu opened #246 "Schnetpack MD code which is in pbc_update branch not competible with Behler-Parrinello method ?"
Hello,
Upon my request last month, the Schnetpack MD code on the master branch was compatible with the Behler-Parrinello method (by adding require collect_triples).

However, according to the error shown below, it is understood that the Schnetpack MD code in the **pbc_update** branch is not compatible with the Behler-Parrinello method.
Can you make the necessary corrections in order for the MD cod

[2020-11-11 11:33] mgastegger commented on #246
Hello,

I have added the fixes for using BP functions to the `update` branch, which combines all the functionality of `pbc_update` with a few additional improvements. Amybe you can try switching to this branch. If

[2020-11-16 07:22] #244 closed

[2020-11-18 02:40] xinglong-zhang opened #248 "running on HPC cluster with multiple CPUs"
Hi, for the training, it seems that parallel run only works with GPU and not CPU? Is it possible to run using multiple CPUs on a compute node in an HPC cluster?

[2020-11-18 14:48] otayfuroglu commented on #246
thank you @mgastegger

bests wishes,

[2020-11-18 14:48] #246 closed

[2020-11-29 15:44] MiracAydin1 opened #249 "Not able to reduce MAE on OMDB"
Dear All,

First of all, thanks for creating an awesome tool like SchNetPack.

I created a model following the documentation of SchNetPack and ran it for bandgap prediction using QM9 database for my molecule. The molecule contains 161 atoms.

First I created db from xyz file of the molecule (xyz file just includes atom numbers and coordinates) and fed into the model but it performed very bad with

[2020-12-01 03:47] Dankomaister opened #250 "validation batch using more memory than training batch"
Hi!
I was looking into the memory usage of schnetpack to find where it can be optimized and I found that the validation batches are using much more memory than the training batches.
Is this an expected behaviour? or is there something strange going on?

My tests use the same .db file for both training and validation (for the sake of testing) and on a Nvidia GTX 1070 with 8GB of VRAM I could use a

[2020-12-18 22:46] peastman opened #252 "Improved neighbor list"
SimpleNeighborList ignores the cutoff and computes interactions between all pairs of atoms, regardless of distance.  This limits it to very small numbers of atoms, not just because it's slow but also because it quickly runs out of memory.  I created an alternate neighbor list implementation to fix this.  If you want to include it in SchNetPack, you're welcome to it.

[code]

To make it work, I had

[2020-12-21 10:05] otayfuroglu opened #253 "RuntimeError: Schnetpack MD on multiple GPU"
Hello,
Before I open "Schnetpack MD on multiple GPU" #245 issue but I could not get any answer. I don't know how it happened but now it works on multiple gpu.  But now, when I was run Schnetpack MD simulation on two GPU, I get following runtime error;
**Note: I'm running the Schnetpack MD code through the update brach.**

Traceback (most recent call last):
  File "../schnetpack/run_md_withSchnetpa

[2021-01-11 08:51] #248 closed

[2021-01-15 07:57] Dankomaister commented on #250
Hi @mgastegger @Stefaanhess
Any updates on this?

/Daniel

[2021-01-15 08:23] Stefaanhess commented on #250
Hi @Dankomaister ,
sorry for the late reply!
I don´t think this is expected behaviour, but I will have a look at it today.
Stefaan

[2021-02-04 09:04] Dankomaister commented on #250
Hi @Stefaanhess ,
Did you get anywhere on this?
I was thinking that maybe it is possible to set the `model.output_modules.create_graph = False` during validation?
Or do we need to create the graph during validation as well.
/Daniel

[2021-02-04 13:17] Stefaanhess commented on #250
Hi @Dankomaister ,
sorry for the late reply!
I had a look at the train method and I think I found the issue.
During training and during validation, the computational graph is created. The difference between training and validation is, that the training loop calls `loss.backward()` for the optimization. This also frees the graph and reduces the memory allocation. Since the validation loop does not

[2021-02-05 06:08] Dankomaister commented on #250
Hi @Stefaanhess ,
Detaching the val results sounds like a good solution, I will test and see how well it works.

The reason why I suggested to set `create_graph = False` during validation is that I have a script that I'm using to evaluate the predicted energies, forces and stress of a trained model against a .db file.
In this script I load a trained model using `model = load_model(model_file)` and

[2021-02-09 13:06] Stefaanhess commented on #250
Hi @Dankomaister ,
you are right! ``create_graph=True`` is only needed for the backward pass. Maybe we can make use of the ``model.train()`` and ``model.eval()`` functions. In this case, the model will only create the graph in train mode. For the evaluation and the validation set, the model can be set to eval-mode. What do you think? I will talk to the others about this!
Stefaan

[2021-02-11 10:49] Dankomaister commented on #250
Hi @Stefaanhess
Ok that's good to know :)
I think it is a good idea to use `model.train()` and `model.eval()` to set the model to training or evaluation/validation mode.
Perhaps the `SpkCalculator` class could then automatically set the model to eval mode.
/Daniel

[2021-02-22 21:44] jhrmnn opened #255 "Errors when downloading materials dataset"
With current master, I'm getting the following errors:
[code]

This seems to fix the issue, don't know if it's a correct fix:

[code]

[2021-02-24 14:48] Stefaanhess commented on #250
Hey @Dankomaister ,
I made a pull request for the _update_ branch, with the `train` and `eval` functions. `create_graph` is now turned off during the calculation of the validation set, during the evaluation of the model and for the `SpkCalculator`. What do you think? Does this solve the issue?
Stefaan

[2021-02-24 14:55] Stefaanhess commented on #249
Hey @MiracAydin1 ,
sorry for not replying to this issue! Did you make any progress on this, or do you still need help?
Stefaan

[2021-02-26 15:18] #250 closed

[2021-02-26 15:20] Stefaanhess commented on #239
Hey @sirmarcel ,
thanks for your contribution. The PR has been merged now :)

[2021-02-26 15:20] #239 closed

[2021-02-26 15:22] #223 closed

[2021-02-26 15:26] #159 closed

[2021-02-26 15:27] #245 closed

[2021-02-26 15:31] ktschuett commented on #252
Thanks for the contribution and sorry for the long response time. SimpleEnvironmentProvider was meant as a very basic implementation for small molecules, but it is probably better to make a fully functional one the default. Your proposal is very close to the `TorchEnvironmentProvider`. Major overhaul of the environment providers and indexing/aggregation ops is already in development, so a lot of t

[2021-02-26 15:31] #252 closed

[2021-02-26 15:32] #217 closed

[2021-02-26 15:33] #234 closed

[2021-03-04 16:43] #51 closed

[2021-03-04 16:44] ktschuett commented on #228
We're going to move to lightning soon, so this will be solved then.

[2021-03-04 16:44] #228 closed

[2021-03-17 20:31] MiracAydin1 commented on #249
Hello @Stefaanhess ,

Thank you for reply. I progressed a little bit in this topic.

But I have a problem about running my model on multiple GPU. I could not find anything about this in Schnetpack documents and article. So I tried torch.nn.DataParallel as it follows:

[code]

But I encountered the following error:

`RuntimeError: CUDA error: CUBLAS_STATUS_INTERNAL_ERROR when calling `cublasCreate(

[2021-03-18 08:47] ktschuett opened #268 "Implement new environement provider"
- [x] Torch environment provider
- [x] orthorhombic cells
- [x] general symmertries

[2021-03-18 08:51] ktschuett opened #269 "New Dataset Modules"
- [x] QM9
- [x] MD17
- [x] Materials Project
- [x] OMDB
- [x] ANI1
- [x] ISO17

[2021-03-18 09:46] ktschuett opened #270 "Clean up & extend Tox/Travis/Sphinx config & requirements"
- [x] remove redundant requirements
- [x] test more python/pytorch combinations

[2021-03-18 11:17] Stefaanhess commented on #249
Hi @MiracAydin1 ,

maybe this is an issue with the torch/cuda installation? I found this on the pytorch-discussion forum: https://discuss.pytorch.org/t/cuda-error-cublas-status-internal-error-when-calling-cublascreate-handle/114341

Does the error also occur when you run this?

    import torch.nn as nn

    model = nn.Linear(10, 10)
    model = nn.DataParallel(model)

Best regards,
Stefaan

[2021-03-18 20:26] MiracAydin1 commented on #249
Hello @Stefaanhess,

Thank you for your reply. Let me give a code snippet of my model first:

[code]
The code part above is the main section of the model.
When I tried "nn.Linear(10,10)" instead of "model = spk.AtomisticModel(representation=schnet, output_modules=output_gap)" it gives the following error:

[code]

In the Schnetpack article, it says that the model can be ran on multiple GPU. Do you

[2021-03-19 14:35] ktschuett opened #272 "Make new batch structure splitable over multiple GPUs"
SInce batch and atoms dimensions are merged, tare needs to be taken when splitting with DistributedDataParallel.

[2021-03-19 15:17] Stefaanhess commented on #249
Hey @MiracAydin1 ,
it should be possible to train the model on multiple GPUs. Therefore you would only need to use the `nn.DataParallel` module (like you already did). On my GPUs this works fine, so I am not sure what is happening with your GPUs. Could you maybe also add the full Traceback of the `RuntimeError: CUDA error: CUBLAS_STATUS_INTERNAL_ERROR when calling cublasCreate(handle)` -error?
I o

[2021-03-23 22:25] MiracAydin1 commented on #249
Hi @Stefaanhess,

Thank you for your advices.

I tried your sample code but it gave the same error. Probably system configuration (CUDA and pyTorch versions etc.) and architecture confliction cause this problem. But i have not figured it out yet. We can say that the error is not caused by Schnetpack.

Lastly, could you please write your PyTorch, Python and CUDA version on your system which is curr

[2021-03-24 03:19] norlandn opened #273 "How could I run on multiple CPUs?"
Hello, I just tested this code and run the qm9 dataset training on two computers only with CPU. However, it used one CPU core on one computer and 6 core on another. And I checked the docs and issues here and don't find how to set up the CPU cores. Could someone tell me how I can do it? Thanks!

[2021-03-24 10:06] Stefaanhess commented on #249
Hey @MiracAydin1 ,

I am using the following versions:
python 3.8
pytorch 1.7.1
cuda 10.2

Did you check this issue on pytorch discuss (https://discuss.pytorch.org/t/cuda-error-cublas-status-internal-error-when-calling-cublascreate-handle/114341)? Someone has the same error message as you do and they seem to fix it by fixing the versions/installation.

Best regards and good luck,
Stefaan

[2021-03-24 10:06] #249 closed

[2021-03-24 10:26] Stefaanhess commented on #273
Hey @norlandn ,

there is no implementation for distributed CPU training in schnetpack. If you want to specify a single cpu you could use `x.to("cpu:0")` and for Multiple CPUs you could checkout the `DistributedDataParallel` -module from pytorch. They had a `DistributedDataParallelCPU` in earlier versions (e.g. 1.0) but it is missing in the recent torch versions.

Best,
Stefaan

[2021-03-30 02:13] norlandn commented on #273
Thank you! I'll try that.

[2021-03-30 08:54] #273 closed

[2021-04-20 12:50] otayfuroglu opened #276 "SpkCalculator produce repeating decimal digits"
Hi everybody,

When I run MD calculation with the Spkcalculator  (from ase interface) using my model,   potential energy values produced have repeating decimal digits (e.g. .375, .500, .250, .875, .750). Is it normal to produce any other than these numbers? Or is there a problem with my model or calculator?

Output follow:
Time[ps]      Etot[eV]        Epot[eV]              Ekin[eV]    T[K]
0.0000

[2021-04-21 15:09] ktschuett commented on #276
Perhaps this is an issue with float32 precision on the GPU. You could try subtracting the the single atom energies and/or mean energy before fitting the model and adding it back in the calculator after converting back to float64.

[2021-04-26 23:30] otayfuroglu commented on #276
Thanks a lot for answer @ktschuett. I tried your advice then my model produced reasonable decimal digits.This was a very quick solution. thank you very much.

Bests,

[2021-04-26 23:30] #276 closed

[2021-04-29 19:39] OMalenfantThuot opened #279 "Make create_graph disabling optional"
Hi, hope you're all doing well.

Since the last major [update](https://github.com/atomistic-machine-learning/schnetpack/pull/262), I had a few errors popping up in my codes, but I managed to solve everything today.
There is one thing that would help me a lot tough:
In `src/schnetpack/atomistic/output_modules.py` there is a new line in the `forward()` method:
[code]
This is problematic when using c

[2021-04-30 12:07] Stefaanhess commented on #279
Hi @OMalenfantThuot ,

I just changed the behaviour of `create_graph` in #280 . Now the graph is always created in training mode, if forces are required. If you also want to create the graph in eval mode, just set `create_graph=True` in the `__init__`. Does this solve your problem?

Best,
Stefaan

[2021-04-30 15:22] OMalenfantThuot commented on #279
Hi @Stefaanhess .
Thanks for the quick answer. This is a perfect solution!

Olivier

[2021-04-30 15:22] #279 closed

[2021-05-05 14:09] OMalenfantThuot opened #283 "Logging hook gets stuck when restarting training"
Hey, it's me again.

I noticed the learning rate was getting stuck to a certain value in the log, but the training was still deemed complete by the code.
After some testing, it only happens after the job was stopped then restarted.
The logging hook and the scheduling hook, no longer agree on the value of the learning rate at that point.
In the last major [update](https://github.com/atomistic-machi

[2021-05-05 14:19] OMalenfantThuot commented on #283
Also a minor thing. The spk_run.py script does not have the executable permissions by default and doing a chmod on it registers as a change by git, which is annoying. Maybe it's worth doing it by default?

[2021-05-08 09:59] sakuraiiiii opened #286 "MD17 benchmark"
Hi, it is a very nice work. However, I have some questions w.r.t the results on MD17 dataset, which I didn't find in the papers. First, what's the cutoff radius for this dataset? Second, the benchmark of energy is the MAE per molecule or the MAE per atom? And that of forces is the MAE per molecule or MAE per atom, or MAE per atom per component? If the results are MAE per molecule, when the library

[2021-05-17 15:27] JordD04 opened #288 "High Training Loss on very Small DBs with PBCs"
I've been having trouble getting SchNetPack to perform as well as I would expect on my custom database (MAE Energy 1.5 eV / atom and MAE Force 0.5 eV / Å) so I decided to do some testing using databases that only have 10 structures (I just pick 10 structures at random from a full database and save them into a new database file). My understanding is that when training a NN on a very small dataset,

[2021-05-18 12:17] Stefaanhess commented on #288
Hi @JordD04 ,

What environment-provider are you using for the PBC models? In the args-file it looks like the simple environment-provider is used, but you will need to use the torch env-provider.
I tried to reproduce your experiments with a database of SiO2, that I have been working with lately and the train-loss converges to very low values while the validation loss does not (as expected). Maybe

[2021-05-19 14:24] JordD04 commented on #288
Hey Stefaan, thanks for getting back to me.
I did some testing following your recommendations.
Switching to the Torch environment has allowed me to consistently get Train Loss = 0 (or very close to) for my small MatProj db but I continue to struggle with my custom dataset.
Using the same parameters as in the args.json above (but with the Torch environment, I've gotten a loss as high as 3.4.
With l

[2021-05-19 15:07] Stefaanhess commented on #288
Hey @JordD04 ,
if you are training on energy/atom, you will also need to set `aggregation_mode=avg`. Since you are building your own database, I would check if `pbc=True` is set in the atoms objects of your database. Otherwise this will also cause problems for the neighbour selection.
Let me know, if this helps to solve the issue.

[2021-05-19 15:13] JordD04 commented on #288
Hey Stefaan,
I definitely have pbc set to true but I haven't tried `aggregation_mode=avg` yet. Your readthedocs says

When should I be using sum and when should I be using avg?

[2021-05-19 15:34] Stefaanhess commented on #288
This depends on the definition of energy in your dataset. For molecules this is usually the total energy of the structure, which is interpreted by the model as the sum over the local energy contributions of every atom. For pbc-structures this definition is not working well since the structure is infinite. So you could either define the energy as the sum over all atoms inside the cell, or as energy

[2021-05-19 17:39] JordD04 commented on #288
I was training on the energy of the cell before but I've defined an energy_per_atom property, set `aggregation_mode=avg` and then trained 5 more NN. The largest loss was 0.006, so this looks quite promising. I'm going to try and train on my full dataset and see if these new parameters improve my MAE energy and loss. Thanks for your help!

[2021-05-20 07:07] Stefaanhess commented on #288
Sure, no problem! Let me know if it worked out well.

[2021-05-21 13:57] #288 closed

[2021-05-21 14:17] ktschuett commented on #283
Thanks for the report and sorry for the long response time.

This issue should have already be fixed (#243 , #239).

Regarding the chmod thing: I never noticed this problem. Do you install schnepack `python setup.py [install/develop]` or `pip install . [-e]`? Then the script should be directly in you path and executable.

[2021-05-21 14:25] ktschuett commented on #286
Sorry for the late response.

1. In the original paper there was not cutoff. But you can set it to 5 A which works well.
2. MAE per molecule
3. MAE / atom / component (i.e. mean over all force components)

For periodic structures, you should use energy / atom and also average over the atomwise energy contributions (set ``--aggregation_mode avg`` when calling spk_run).

[2021-05-21 14:25] #286 closed

[2021-05-21 14:28] ktschuett commented on #253
This should be possible in the next major version using pytorch lightning.

[2021-05-21 14:28] #253 closed

[2021-05-21 14:29] #226 closed

[2021-05-21 14:33] ktschuett commented on #255
Fixed, copy is gone.

[2021-05-21 14:33] #255 closed

[2021-05-21 14:34] OMalenfantThuot commented on #283
Hi @ktschuett, thanks for the answer.
I didn't know the scripts were added to the path, so ignore the second comment. This works well.
As for the main comment. The update [#243](https://github.com/atomistic-machine-learning/schnetpack/pull/243) is actually the source of the problem. I have to revert it to make it work correctly.

[2021-05-21 14:41] ktschuett commented on #283
Ah, ok. We'll have another look

[2021-05-21 15:55] Stefaanhess commented on #283
hey @OMalenfantThuot ,
i think i found the bug. Have you been using the `ReduceOnPlateau`-Hook? The `state_dict` for this hook had been saved in a wrong way. #289 should fix it

[2021-05-21 16:02] OMalenfantThuot commented on #283
Yes it was the ` ReduceOnPlateau` hook for me. Thanks a lot!

[2021-05-21 16:16] Stefaanhess commented on #283
I messed things up with git... #290 should be working :)

[2021-05-24 10:20] JordD04 commented on #288
Sorry for the delayed response. My cluster's GPUs are offline so I have to everything slowly on GPUs. I ran a few tests; I got the best results from the args.json below:
`{
    "aggregation_mode": "avg",
    "batch_size": 30,
    "checkpoint_interval": 1,
    "contributions": null,
    "cuda": false,
    "cutoff": 5.0,
    "cutoff_function": "cosine",
    "datapath": "model/third_gen_few_atoms_non

[2021-05-26 07:24] ktschuett commented on #283
Fixed with #290

[2021-05-26 07:24] #283 closed

[2021-05-26 10:40] ktschuett opened #291 "Script to convert old datasets"
Add a script to convert old dataset format to new one.

This boils mostly down to updating the required metadata.

[2021-06-02 13:23] sirmarcel commented on #283
Yikes, thanks for filing and fixing this, I've been wondering why my training runs have started looking so weird!

[2021-06-02 13:26] sirmarcel commented on #283
It seems like I somehow caused this with #243 , but I'm not sure how. Would you mind explaining briefly?

[2021-06-02 13:33] Stefaanhess commented on #283
If I remember correctly, before your commit the hooks have not been loaded from the `state_dict` at all (due to the missing `self.`). After you fixed this in #243 the scheduling hooks were loaded from the checkpoint file, but there also was a bug in the `ReduceOnPlateau` state dict, which was not loading the `state_dict` of the scheduler correctly. Does this make sense?

[2021-06-02 13:36] Stefaanhess commented on #283
So the #290 bug was hidden behind the #243 bug

[2021-06-02 13:36] sirmarcel commented on #283
Okay -- thank you! Time to upgrade. :)

[2021-06-14 22:11] Divide-By-0 opened #302 "Add dev flag to installs"
I had to run `pip install -e .` instead of `pip install .` on a clean Ubuntu installation, or else dev dependencies like hydra-core were not installed. I recommend updating the README for future users!

The error I got without the `-e` flag was `Cannot find primary config "train". Check that it's in your config search path.`.

[2021-06-19 02:09] Divide-By-0 opened #303 "No dataset conversion script found"
https://schnetpack.readthedocs.io/en/stable/tutorials/tutorial_01_preparing_data.html refers to a script called "schnetpack_parse.py" that converts .xyz to .db files. Running a `find` on this repo doesn't yield this file, is it possible to add it? (or perhaps i missed it in my search somehow)

[2021-07-06 15:46] OMalenfantThuot opened #304 "Applying torch.autograd.grad with less memory"
Hi all!
This is not really an issue, more of a question.
We've been applying some Schnet networks to very large supercells (5000+ atoms), but we were hoping to go even higher.
At a certain point, the CUDA memory runs out when calculating forces or higher order derivatives using torch.autograd.grad.
The memory requirements scale linearly with the number of atoms as a computational graph must be rem

[2021-07-18 09:50] Roy-Kid opened #307 "Does trained schnet potential be able to use in LAMMPS?"
Hi, I want to use Schnetpack to fit a polymer potential, and embed to the lammps then do simulation. So is there any way to export the trained potential/Neural network to use in the LAMMPS, like what deepmd do?

[2021-07-22 01:58] Divide-By-0 opened #308 "Bug with optional DataLoader args"
It would be great if the AtomsLoader accepted a **kwargs for extra named arguments; currently, as DataLoader added an optional 'generator' argument in Pytorch-Lightning 1.3.5, I can no longer compile AtomsLoader objects such as the val_dataloader.

The full error is as follows:
[code]

Similarly I also get an error sometimes like
`TypeError: __init__() got an unexpected keyword argument 'prefetch_

[2021-07-27 22:02] Divide-By-0 commented on #308
Looks like this has been fixed on PL's side: https://github.com/PyTorchLightning/pytorch-lightning/pull/8519

[2021-07-27 22:02] #308 closed

[2021-08-05 21:34] minhtriet opened #312 "Some columns of QM9 dataset are unclear"
Some columns of QM9 dataset are not straightforward to me (`'_cell', '_cell_offset', '_idx', '_neighbor_mask', '_atom_mask'`). I looked at the data description at [figshare](https://figshare.com/articles/dataset/Readme_file%3A_Data_description_for__Quantum_chemistry_structures_and_properties_of_134_kilo_molecules_/1057641?backTo=/collections/Quantum_chemistry_structures_and_properties_of_134_kilo_

[2021-08-12 13:12] mgastegger commented on #312
These columns are used by SchNetPack internally.

`_cell` is the cell used for periodic computations (if requested).
`_cell_offset` are the shift vectors for the periodic images of each atom.
`_neighbor_mask` is a binary mask. Since atoms can have a different number of neighbors, the arrays need to be padded. This mask is an indicator if an entry is a real atom (1) or just padding (0).
All three a

[2021-08-12 13:14] #268 closed

[2021-08-18 18:01] siddharth-ncl-work opened #319 "Is it possible to perform NPT simulation with schnetpack?"
Hi,
I have gone through the schnetpack tutorials but couldn't find NPT simulation example (let me know if I missed it). Is it possible to perform NPT simulation with schnetpack? If  yes, can you please explain how to do so. Thanks

[2021-08-20 12:45] mgastegger commented on #319
It is possible to run NPT simulations with the master branch, although this is not documented yet.

To do so, you have to specify a barostat in the dynamics section of the input, for example:
[code]
This would use a Martyna-Tobias-Klein barostat for isotropic cell fluctuations. In this case, no additional thermostat needs to be specified, since particle and cell temperatures are controlled via NHC

[2021-08-21 00:54] siddharth-ncl-work commented on #319
@mgastegger thanks a lot for getting back to me. I will give it a try and update you on the results.
For NPT, do we also need a model trained on stress tensors along with the energy and forces? I have followed the tutorial and have a trained model for ethanol on energy and forces....will that work?

[2021-08-21 08:28] siddharth-ncl-work commented on #319
[UPDATE]

I tried running NPT simulation on ethanol as per the instructions but got following error. I used `spk_md.py` file for the simulation. The repo was cloned again to make sure I was on the latest commit of the master branch. SchNet model was obtained by following [this tutorial](https://schnetpack.readthedocs.io/en/stable/tutorials/tutorial_03_force_models.html).

[code]

**Input xyz file

[2021-08-25 11:41] siddharth-ncl-work opened #321 "How to add Pressure in 'simulation.hdf5' file?"
Is there any hook to add pressure in 'simulation.hdf5' for monitoring purpose.
I am aware that there is a tensorboard hook but that makes analysis difficult as pressure needs to be extracted from event files.

I am able to get stress tensor in 'simulation.hdf5', is there any way to calculate pressure from stress tensor?

[2021-08-30 23:45] jstoppelman opened #323 "Is PaiNN available in schnetpack?"
Hello, I saw the talk about PaiNN at ACS last week, and was interested in testing it out on my systems to see if we see improvement for some properties compared to SchNet. Will PaiNN be included as part of the next update to SchNetPack?

[2021-08-31 14:37] hejops opened #324 "GPU is being used, even with --cuda disabled"
I tried evaluating the QM9 dataset with `--cuda`, but the following error is produced. Training with `--cuda` works fine though. Is it possible to use a GPU on a different device?

[code]

[2021-09-01 09:41] ktschuett commented on #323
Yes, it is already in the dev branch. You can already give it a try, there are some major changes compared to master that are not fully documented yet.

[2021-09-01 09:41] #323 closed

[2021-09-01 09:41] #312 closed

[2021-09-01 09:45] ktschuett commented on #307
I wanted to look into this, also for OpenMM. It seems that you need to write some interface code in C++. Do you have any experience with this?

[2021-09-01 09:48] ktschuett commented on #304
Sorry for the late response. We are waiting for the forward mode autograds in PyTorch, which are expected with the next release ([see PyTorch thread](https://github.com/pytorch/pytorch/issues/10223)). Then, this should be possible.

[2021-09-01 09:56] #270 closed

[2021-09-01 09:56] #269 closed

[2021-09-02 02:21] Roy-Kid commented on #307
I have a little experiment to extend LAMMPS and write a book which I think is the best tutorial for now. You can find it at the official website of LAMMPS [ ](https://lammps.org/books.html) and can download ebook from [ ](http://libgen.rs/search.php?req=LAMMPS&open=0&res=25&view=simple&phrase=1&column=def).

And I am learning how to write OpenMM plugin because We are developing an auto differentia

[2021-09-02 08:43] Stefaanhess commented on #324
Hey @hejops
the issue seems to be that some tensors are stored on the CPU and others on the GPU. This  causes the error. I tried to reproduce the issue with the master branch, but it worked out well for me. Are you using the current master branch or the pip version?

[2021-09-02 09:30] hejops commented on #324
I'm using the pip version. I'll try the master branch and give you an update.

[2021-09-02 10:51] hejops commented on #324
I tried to do training on master (5dd3d3f), but the following CUDA error is produced. Both my GPUs are indeed in use, but I thought that shouldn't matter since I didn't specify `--cuda`. Is this behaviour intended?

[code]

[2021-09-02 10:55] Stefaanhess commented on #324
Since your modelpath does already exist, the script tries to continue the training session that has been stored in `./model`. Therefore it also uses the args that are stored in `args.json`. Could you try it again with a new modelpath? e.g. delete `./model` or use `./model2`

[2021-09-02 11:06] hejops commented on #324
Deleted both the model and the database just to be sure:

[code]

By the way, I think the instructions for installing from source might be incomplete. In order to get the executables to run from any location, I had to include the `/src/scripts` directory in my `PATH`, and `chmod` all the files (only one of them had execute permissions).

[2021-09-02 11:31] Stefaanhess commented on #324
Ok, this seems to be an issue with the dataloader. It seems like `pin_memory` was `True`, which caused the dataloader to copy some data to the GPUs which are blocked. I created a new branch "issue_324" where I removed `pin_memory`. Could you try, if this solves the issue?
For the installation: did you use `pip install .`?

[2021-09-02 11:46] hejops commented on #324
Yes, training has started successfully. Pretty slow on CPU, but I guess that's to be expected. I'll give it a try with `--cuda` when one of my GPUs is freed up. Thanks a lot for the quick fix.

Also, the installation worked properly now, guess I did something wrongly the first time.

[2021-09-03 02:51] OMalenfantThuot commented on #304
After some testing, my impression is that it would only be possible while using a single interaction block, otherwise the representation of each atom depends indirectly on all atoms in the system (because they all get updated between each interaction block), but I could be wrong. Let's wait for this update and see.

Thanks for the answer!

[2021-09-03 08:05] ktschuett commented on #304
Ah, i was referring to the memory cost of storing the activations for backprop.. Regarding your idea, it should still be possible with multiple interaction layers when you have a cutoff, since you will have a "visual field" of n_interactions*cutoff. So you can split the system across multiple nodes if you accept some duplicated work.

[2021-09-03 10:54] mgastegger commented on #321
Sorry for the late reply. The full pressure can be computed from the stress tensor as:
<a href="https://www.codecogs.com/eqnedit.php?latex=p&space;=&space;\frac{2&space;E_\mathrm{kin}}{3V}&space;-&space;\frac{1}{3}\mathrm{Tr}[\sigma]" target="_blank"><img src="https://latex.codecogs.com/svg.latex?p&space;=&space;\frac{2&space;E_\mathrm{kin}}{3V}&space;-&space;\frac{1}{3}\mathrm{Tr}[\sigma]" title=

[2021-09-03 11:27] mgastegger commented on #319
Once again sorry for the late reply. I am glad to hear you could solve the `stress_handle` error.

Regarding your questions:

1. We are currently testing this ourselves. So far it seems that including the energies and forces is enough to also get sufficiently accurate stress tensor predictions.
2. The periodic boundaries need to be specified in the extended XYZ file as well. For example `pbc="T T

[2021-09-03 11:27] #319 closed

[2021-09-03 13:24] hejops commented on #324
One of my GPUs is free now, but I think torch might be trying to access the GPU that is still in use. Is it possible to specify the GPU I want to use? Or do I have to configure my GPU differently?

[code]

[2021-09-03 14:24] OMalenfantThuot commented on #304
I was thinking the same thing at first, sending only the central atom and its neighbors as a forward pass, getting the energy for this atom and looping on the atoms outside the model. I was able to make this work, but the results were off and I'm 99% sure it's because the representation of the neighbors themselves are updated starting from the second interaction block, and these updates depend on

[2021-09-03 14:53] siddharth-ncl-work commented on #321
@mgastegger , thanks a lot for getting back to me, I really appreciate taking time to help me out.

I have two questions:
1. What units are length/volume and pressure values reported in hdf5 and evenfiles?
2. I tried calculating the pressure through hdf5 file using the formula as well as from tensorboard eventfile, unfortunately they are not matching.

![download](https://user-images.githubusercon

[2021-09-03 14:54] ktschuett commented on #304
Yes, for this to work, the cutoff of the neighborlist needs to be larger than that of the cutoff function inside the model:

`cutoff_nbl = n_interaction*cutoff_internal`

And to avoid too many repeated computation it would make sense to partition the system with some overlap instead of looking at every atom separately.

[2021-09-03 15:20] mgastegger commented on #321
The length volume/values in the hdf5 file use nanometers. The pressure in the event file is reported in bar.
The stress tensor is currently logged in model units, which probably is the reason for the difference.

If I use kcal/mol/A^3 for the stress tensor, I get something better resembling the event file pressure.
[code]
![image](https://user-images.githubusercontent.com/36198330/132028363-bf9bc3

[2021-09-03 15:57] siddharth-ncl-work commented on #321
I did use "kcal/mol/A^3" for the stress tensor in my model. After converting pressure to internal units plots are matching quite well at my end. Again, thanks a lot for the help.

![download (2)](https://user-images.githubusercontent.com/43916742/132033988-93049d96-2d68-493c-b482-660ca3b38e96.png)

[2021-09-03 16:52] #321 closed

[2021-09-06 08:13] hejops commented on #324
The good news, however, is that `spk_run.py` works perfectly when both of my GPUs are free. Though only the first GPU is being used, the performance is much better, as expected.

Any suggestions on how to configure GPU usage would be much appreciated.

[2021-09-06 09:54] ktschuett commented on #324
You can specify the device by setting the environment variable CUDA_VISIBLE_DEVICES, e.g.
`CUDA_VISIBLE_DEVICES=0 python spk_run.yp ...`

[2021-09-06 09:54] #324 closed

[2021-09-07 14:26] Manyi-Yang opened #327 "Preparing our own data for PyTroch Lightning Trainer"
Hi, I  would like to know how to train a model with multi GPU.  If the master version of the code supports it?  if yes, How should  I set up my calculation?
In issue #253 it mentioned that the version using Pytorch lightning can run MD with multi GPU.
How should I prepare our own data for the PyTorch Lightning Trainer?  Thanks

[2021-09-07 14:50] hejops opened #328 "Tutorial 2: 'numpy.ndarray' object has no attribute 'cpu'"
I'm trying out tutorial 2 (as of commit 422c6e649cf7a0d6c1489419e11d3f63dd9f84d2), but I'm encountering the following error in the second last cell:

[code]

Does anyone know what might be wrong?

[2021-09-08 08:14] Manyi-Yang commented on #221
Could you tell me how to train the NN with Multi GPU?

[2021-09-08 08:48] Stefaanhess commented on #221
You can just add `--parallel` to the run arguments. This should enable Multi-GPU

[2021-09-08 08:52] Stefaanhess commented on #327
Hey @Manyi-Yang
you can just add `--parallel` to the run arguments. This enables the use of miltiple GPUs. In the current version we do not use the pytorch-lightning trainer yet. This will change in the next major update of schnetpack, which is about to be finished

[2021-09-08 09:04] Stefaanhess commented on #328
Hey @hejops ,
it seems like the behaviour of the datasets has changed, but the tutorials have not been updated. The tutorial assumes to get `torch.Tensor` objects from `.get_properties()`, but the function returns `numpy.ndarray`.
could you try if this works out well: `print("Truth:", props[QM9.U0])` ?

[2021-09-08 15:16] Manyi-Yang commented on #327
Thank you very much.
I also have another question about the Unit:
When we prepare the custom dataset, which kind of unit should we use.  EV  eV/A  or Kcal/mol Kcal/mol/A for energy and force?  Also, what are the units for the coordinate and PBC cells?
Does this unit is consistent with the output log.csv file?
Thanks again.

[2021-09-08 22:00] Manyi-Yang commented on #226
@Stefaanhess  I would like to know why you think that the following picture is overfitting was not correct? I also have this kind of problem. the loss of the training set is much lower than the validation one. How can we solve this kind of problem? Thank you.
![image](https://user-images.githubusercontent.com/50021753/132591144-e525afdb-e84d-4146-adea-0652f9e22321.png)

[2021-09-09 08:50] hejops commented on #328
Yes, that works, printing an array with a single element (a negative float). I guess the line for "Prediction" should also be modified, right?

[2021-09-09 09:13] Stefaanhess commented on #226
Hey @Manyi-Yang ,
what dataset are you training on and what settings are you using?

[2021-09-09 11:09] Manyi-Yang commented on #226
@Stefaanhess  Thank you for your reply.
I am a new use of Schnet and was confused a lot when I start to use Schnet.  But I am sure you can help me to solve all the problems.

My system is a single element liquid with 128 atoms,  the box size is about (10.0, 12.0 24.0), PBC is used. energy and forces are trained.  Here is my setting file, which gives me the best results among all my tests.  BTW, is

[2021-09-09 12:51] Stefaanhess commented on #328
The line for prediction should run fine, because the prediction is the outcome of the model, which should be a Tensor. Did you try it out? If this line generates an error, I would guess that it must be related to the shapes.
If you get an error for that line, try: `print('Prediction:', pred[QM9.U0].detach().cpu().numpy())` instead

[2021-09-13 03:21] gravity-lhg opened #329 "float division by zero"
Traceback (most recent call last):
  File "D:/Python_workplace/environment/Scripts/spk_run.py", line 123, in <module>
    main(args)
  File "D:/Python_workplace/environment/Scripts/spk_run.py", line 65, in main
    trainer.train(device, n_epochs=args.n_epochs)
  File "D:\Python_workplace\environment\lib\site-packages\schnetpack\train\trainer.py", line 267, in train
    raise e
  File "D:\Python_wo

[2021-09-13 10:09] hejops commented on #328
Actually, I'm getting a different error at the line `pred = model(inputs)`:

[code]

This is not related to https://github.com/atomistic-machine-learning/schnetpack/issues/324, I hope? `device` was set to cuda.

[2021-09-13 10:26] hejops commented on #328
After deleting the `qm9tut` directory and re-running both training and evaluation with `CUDA_VISIBLE_DEVICES=0,1`, the last two `print` statements run as intended. Thanks for your help.

[2021-09-13 10:26] #328 closed

[2021-09-13 11:37] Stefaanhess commented on #327
For the properties (energy, forces, ...) you can select the units by yourself. The model does not care about these units and the log file will also be in the units that have been used for training. For the coordinates and the cell properties you should use Ang.

[2021-09-13 11:46] Stefaanhess commented on #226
Hey @Manyi-Yang ,
the units should be ok. The cutoff should also work, but you could also try something smaller (e.g. 5 Ang).
From your args file I would suggest to select a smaller number of `n_gaussians=25` and the number of training points looks a bit small. Does your dataset allow more training points?
We are currently working on a new version of schnetpack, which will include a new representa

[2021-09-13 11:56] Stefaanhess commented on #329
Hey @gravity-lhg ,
I have no idea what is going on here. I just tried to run your command (without `--cuda, because our cluster is down atm), and everything works out well. I do not think that cuda is the issue here. Could you check how many datapoints are in the dataset file? Maybe something went wrong with the download. You could also try to delete the model folder and the dataset and even reins

[2021-09-13 12:26] gravity-lhg commented on #329
thank you @Stefaanhess
I have identified the problem. I did not clean up the previous ckeckpoints. And thank you again!!!

[2021-09-13 13:04] Stefaanhess commented on #329
ok, great!

[2021-09-13 13:04] #329 closed

[2021-09-14 04:14] gravity-lhg opened #330 "eval problem"
I have trained the model, ready to test the performance of the model.
using "spk_run.py eval ../model/ --split test --cuda" got a issue :  spk_run.py eval: error: the following arguments are required: modelpath
I don’t know how this model path is set, and does it need to enter the model file name and type？

[2021-09-14 06:21] gravity-lhg commented on #330
well, You missed the <datapath> at "To evaluate the trained model with the best validation error"

[2021-09-14 08:49] Stefaanhess commented on #330
Yes, the datapath was missing. `spk_run.py eval datapath modelpath --split test` should do it. Is that missing in the tutorials?

[2021-09-14 08:51] Stefaanhess commented on #330
Ok I found and fixed it

[2021-09-14 08:51] #330 closed

[2021-09-14 08:53] #327 closed

[2021-09-14 11:22] Manyi-Yang commented on #327
Thank you very much!

[2021-09-14 11:28] Manyi-Yang commented on #226
Hey @Stefaanhess
thank you very much!
Looking forward to your PaiNN version.
When I try to select a small value of features(32), the result is much better. also, the setting of rho really makes sense in my case.  and I will try to add more points to my training set now.
Thanks again

[2021-09-15 03:59] gravity-lhg opened #332 "Multi-attribute training"
Can this Tutorials program load multiple attributes at once for training? If so, where do I need to change the code, in parsing.py? or Only one attribute can be entered for training at a time？

[2021-09-15 08:28] otayfuroglu opened #333 "OSError when restart SchnetPack MD"
Hi folks,

When my SchnetPack MD simulation killed by HPC cluster accidentally  I want to restart my simulation but, I encounter error fallow:

Traceback (most recent call last):
  File "/truba_scratch/yzorlu/deepMOF/HDNNP/schnetpack/run_md_withSchnetpack.py", line 341, in <module>
    simulator.simulate(n_steps)
  File "/truba_scratch/yzorlu/deepMOF/HDNNP/schnetpack/schnetpack_master/schnetpack/s

[2021-09-15 08:52] Stefaanhess commented on #332
Hey,
training on multiple properties is possible, but not implemented in the `spk_run.py` script.
The easiest way to achieve this is by writing your own script. You can find a basic example script here: [https://github.com/atomistic-machine-learning/schnetpack/blob/master/src/examples/qm9_schnet.py](url). In order to train on multiple properties you can copy+paste the linked script and use a list

[2021-09-15 14:32] #332 closed

[2021-09-15 14:39] ktschuett commented on #333
Hi,
I am not an expert in the HDF5 file format. But if an HDF5 file is completely corrupted, I don't think there is much you can do except restarting the simulation.

Best,
Kristof

[2021-09-15 14:39] #333 closed

[2021-09-16 07:46] gravity-lhg opened #336 "The value of loss is very large"
hey，
I implemented multi-attribute training according to the method you said，it worked.
Although the loss obtained is declining, the value is very large。。。
Some of the following data：
Train loss,                                    Validation loss,
438577113.14285713,                 258545200.8,
113668425.6,                               92633047.86666666,
59218379.89285714,                   4399

[2021-09-16 08:17] Stefaanhess commented on #336
Hey,
you can get the statistics of the dataset with `train_loader.get_statistics(...)`. From that you get the mean and std values, which can be given as arguments to the output-modules.

[2021-09-18 09:05] Manyi-Yang commented on #226
Hi @Stefaanhess
AS you suggested that PaiNN would be a good option for the small point data set.  I am interested in it very much. But after installation, and when I run `spktrain --help` I get the following problems.  Pls show me how to fix it. Thanks
![image](https://user-images.githubusercontent.com/50021753/133883195-fd22c82b-02d0-48cf-b55a-4334f37b8648.png)

Another question, could you give m

[2021-09-20 13:33] harpaf13 opened #337 "Latest commit causes 2 failed tests during installation regarding cuda"
I installed the latest version of schnetpack today and after running pytest had the following 2 errors

[code]

When i rolled back the version to commit `5dd3d3f` and re-installed, all tests were passed. The full output errors are shown in pytest-output.txt
[pytest-output.txt](https://github.com/atomistic-machine-learning/schnetpack/files/7196055/pytest-output.txt)

[2021-09-20 14:36] Manyi-Yang opened #338 "the difference of Energy and force Error for the training and validation set is big"
Hi, When did some tests using the SchNet package, I got the following results.

### Energy and force Error for the training and validation set
![image](https://user-images.githubusercontent.com/50021753/134016792-0a2f51e0-8af5-42ec-bafd-408c54d54fc3.png)

    energy:    0.30023 meV/atom
    forces:  158.48391 meV/Å
   val_dataset MAE:
    energy:    2.45322 meV/atom
    forces:  171.90308 meV/Å

H

[2021-09-20 15:33] #336 closed

[2021-09-21 10:19] Stefaanhess commented on #338
Hey @Manyi-Yang ,
this looks like your model is overfitting. This can be related to the rather small set of training points in your dataset. If you can not increase the dataset, you could still try to use a smaller model. I would maybe try to change the following settings: `n_interactions=3, n_features=64, n_layers=1`. (Question1)
Regarding question 2: This could also be related to overfitting on

[2021-09-22 09:08] Manyi-Yang commented on #338
Hey @Stefaanhess
Thank you very much.
### Test results
I have tried the parameters that you suggested  `n_interactions=3, n_features=64, n_layers=1 roh=0.01`
I got the following results. It seems the overfitting problem has been solved but the MAE Error for both the energy and force are increased.
[code]
I also did the tests that only trained on force `roh=0.0 `and energy` roh=10 ` :
if` roh=0.0,`

[2021-09-30 06:03] Sangwon91 opened #340 "Will the next version of SchNetPack include SpookyNet?"
I wonder if you have any plans to implement spookynet on the schnetpack interface.
It would be great if I could use spookynet with the elegant interface of schnetpack.

Thank you.

[2021-10-02 06:25] Sunkworld opened #342 "Question about the performance on ethanol"
Hi, I'm trying to follow the steps of the tutorial about training SchNet on ethanol (https://schnetpack.readthedocs.io/en/stable/tutorials/tutorial_03_force_models.html), and find both the results in the tutorial and my results give MAE of energy~0.4 kcal/mol. But as I read in the SchNet paper, the MAE of energy for ethanol is only 0.08 kcal/mol. So I'm wondering if I missed something here, and ho

[2021-10-04 00:32] wuziqi-cmu opened #343 "Error in tutorial 4 code section 32 and some minor issue"
When running tutorial 4, I encountered several problems:

1. the tests/data path is wrong
2. fs2atu attribute not found
3. In code section 32, the error message is shown below:
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
/var/folders/k_/jq6m6ps14v59j7zn4tqygzjr0000gn/T/ipykernel_43873/403902

[2021-10-05 09:39] ktschuett commented on #340
Not at first, but we aim to include it at some point.

[2021-10-05 10:59] Stefaanhess commented on #337
Hey @harpaf13 ,
sorry for the late reply and thanks for the info. It seems like I forgot to update a test function...
I am not sure why Travis even allowed me to commit, but I will check that.

[2021-10-05 10:59] #337 closed

[2021-10-05 11:08] Stefaanhess commented on #338
Hey @Manyi-Yang
it is hard to tell the optimal settings for your model, but the train-loss being a bit better than the val-loss should be ok.
I would suggest to try if PaiNN works better for you :)

[2021-10-05 11:08] #338 closed

[2021-10-05 11:30] Stefaanhess commented on #342
Hey @Sunkworld
the tutorial is meant to give an overview about the training procedure. In order to run the tutorial in a reasonable amount of time on a normal laptop, it uses reduced settings (only 300 epochs, lr_patience=5, ...). The training also takes just 10 minutes according to the tutorial, while the SchNetPack paper results take at least some hours on a GPU.
In order to reproduce the paper

[2021-10-05 14:45] mgastegger commented on #343
Hi, I was not able to reproduce the path issue, but could fix the other problems.
`fs2atu` no longer exists, since we changed the internal unit system and the third issue was due to the neighbor list not properly adapting to the changed number of replicas. The updated tutorial/code is now in the master branch and should work again properly.

[2021-10-05 14:45] #343 closed

[2021-10-06 09:13] Stefaanhess commented on #342
You are right, "spk_run.py" is the correct script!
Could you maybe add the args.json, so we can have a look at the settings? Maybe some settings (lr_patience, rho, ...) are optimal for the 50k dataset, but need some changes for the 1k dataset.

[2021-10-06 15:46] Stefaanhess commented on #342
Hey,
I just found an args file for the 1k dataset settings:

{
    "batch_size": 100,
    "checkpoint_interval": 1,
    "cuda": true,
    "cutoff": 5.0,
    "cutoff_function": "cosine",
    "datapath": "/tmp/stefaah94/single_run.88531.88531.1/data/md17/ethanol.db",
    "dataset": "md17",
    "dbpath": "db_path",
    "features": 64,
    "ignore_forces": false,
    "interactions": 6,
    "keep_n_che

[2021-10-06 16:49] JordD04 opened #348 "SchNetPack assumes forces are 0 when using PBCs"
I'm trying to get SchNetPack to learn energies and forces for periodic systems. I've gotten the energy to a "reasonable" error (MAE = 60 meV / atom) but the model always wants to assume that forces are about 0.

I was able to get the MD17 dataset to work fine with ethanol so I used that as a starting point and then began making the hyperparameters more similar to my own until SchNetPack stopped le

[2021-10-08 14:49] JordD04 commented on #348
I wanted to determine if this was a problem with the diversity of the training set so I've tried to train on 665 steps of a single CASTEP geometry optimisation.

SchNetPack continues to guess forces as 0 and in this case, it was also predicting that the energies are close to 0.
![One_big_geom_E](https://user-images.githubusercontent.com/1126249/136577434-13b8a4db-03c4-4c50-a598-2406d6f89845.png)
!

[2021-10-26 20:35] frobnitzem opened #355 "Thinc + Ray"
I'm currently considering whether [Thinc + Ray](https://github.com/explosion/thinc/blob/23376d9bbdaa822ef0c64a5eb4836487a0e5be4f/examples/04_parallel_training_ray.ipynb) would provide a suitable abstraction layer for Schnetpack.

[2021-10-28 11:12] chgaul opened #356 "Bug in ConcatAtomsData if it contains AtomsDataSubsets"
Hi!

I noticed that AtomsDataSubsets are not treated properly when included into a ConcatAtomsData. The indices list of the AtomsDataSubset is ignored, and the elements of the underlying dataset are delivered.

I believe that in the following code, none of the assert statements should throw, but they do:

[code]
I think I know how to fix this and I will create a respective pull request.

[2021-10-29 15:21] #356 closed, assigned to nobody

[2021-11-02 01:43] loilisxka opened #362 "AttributeError: 'Namespace' object has no attribute 'features'"
when running spk_run.py with custom datasets to train wASCF, I get the following error
 I am running python 3.7.0 and my pip version is 21.2.2
fe.db file is created by spk_parse.py
![QQ图片20211102092846](https://user-images.githubusercontent.com/43001784/139773106-e5c7b166-1403-4c33-bcf9-d42e22be4a05.png)
![QQ图片20211102093410](https://user-images.githubusercontent.com/43001784/139773125-b4f7d614-27

[2021-11-02 08:40] Stefaanhess commented on #362
Hey @loilisxka ,
I think the problem in this case is the wrong output module. By default the script uses the `Atomwise` output module, which is designed for SchNet. Could you rerun the script and add `--output_module elemental_atomwise` to your rung arguments? Let me know if this helps.

[2021-11-02 09:17] loilisxka commented on #362
thanks for your reply，
According to your suggestion, the network can start training normally, but a new problem has occurred.

Perhaps this is because the size of the data has not changed?&nbsp;
Please tell me a solution, or can you give me a script? Just like you teach people how to use SchNet to training a model on forces and energies in the Schnetpack document

------------------&nbsp;原始邮件&nbsp

[2021-11-02 09:27] Stefaanhess commented on #362
I think the training should basically be the same as with SchNet.
What is the new error, that you are getting?

[2021-11-02 09:40] loilisxka commented on #362
oh Sorry,&nbsp;the picture may not be sent. The screenshot of the new question is attached to the email this time

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "atomistic-machine-learning/schnetpack"

[2021-11-02 09:48] Stefaanhess commented on #362
The picture is still missing. I think you might have to use the web interface in order to upload pictures.

[2021-11-02 09:51] loilisxka commented on #362
![QQ截图20211102173730](https://user-images.githubusercontent.com/43001784/139824324-2280e817-e155-4443-bb9a-50e7eb051ee7.png)
This is the problem I encountered

[2021-11-02 09:55] Stefaanhess commented on #362
Ok, now I can see it :)
Your script tries to restore a checkpoint somehow. You would need to change/remove the old `model_dir`. Or you can also use the `--overwrite` flag. This will overwrite old model directories.

[2021-11-02 10:12] loilisxka commented on #362
Now the script can run normally,
thank you very much :)

[2021-11-02 10:18] Stefaanhess commented on #362
Ok, perfect!

[2021-11-02 10:18] #362 closed

[2021-11-02 15:36] wuziqi-cmu opened #363 "Question on using the trained model"
Hi, I am currently learning the SchNet and had a question: If I have a molecule myself, and it is not from the dataset, why couldn't I just give the trained model an ase.atoms input? Feel like that would make more sense right? If I just want the model to give me predictions on a certain molecule.